<%= error_messages_for 'assemblage' %>
<!--[form:assemblage]-->


<p><label for="assemblage_title">Title</label><br/>
<%= text_field 'assemblage', 'title'  %></p>

<%= display_duration_select('Piece Duration',assemblage.piece_duration, 'piece_duration') %>
<%= display_duration_select('Pre-Show',assemblage.pre_roll, 'pre_roll') %>
<%= display_duration_select('Post-Show',assemblage.post_roll, 'post_roll') %>
<%= display_duration_select('Start Time',assemblage.start_time, 'start_time') %>
<br />
<%= check_box_tag 'assemblage[overlap_check]', '1' ,assemblage.overlap_check %> Check for Cast Conflicts Between Blocks<br />
<%= check_box_tag 'assemblage[grid]', '1' ,assemblage.grid %> Use Grid?<br />
<%= check_box_tag 'assemblage[constrained]', '1' ,assemblage.constrained %> Constrained<br />
<%= check_box_tag 'assemblage[track_undos]', '1' ,assemblage.track_undos %> Track Undos<br />
<%= check_box_tag 'assemblage[track_cues]', '1' ,assemblage.track_cues %> Track Cues<br />
<%= check_box_tag 'assemblage[warning]', '1' ,assemblage.warning %> Show warnings in listings<br /><br />
<%= hidden_field_tag(:piece_id,params[:id]) %>
<!--[eoform:assemblage]-->

