<%# pre_roll and time_scale are defined in assemblages_helper.rb %>
<div id ='grid-container'>
<%- if @assemblage.grid -%>
<%- for i in 0..number_of_stripes -%>
<div id = 'gdd-<%= i %>' class='h-gd<%= grid_border_color(i) %><%= grid_border_thickness %>' style="left:<%= i*stripe_width+start_offset -%>px;height:<%= @track_height*(@assemblage.tracks.length + 1) + 15 -%>px;"><%= grid_time_display(i) -%></div>
<%- end -%>
<%- end -%>
</div>