<%- non_cloned = scene.blocks.reject{|x| x.is_clone}.sort_by{|x| x.start_time} -%>
<%- if non_cloned.length > 0 -%>
<div class="block hori scene"id="d-<%= scene.id %>" style="opacity:.75;background:#ddd;z-index:<%= 100 + scene_number(scene) %>;left:<%= start_pixels(scene) -%>px;width:<%= duration_pixels(scene) -%>px">
<div class='drg'id='handle'style='height:<%= @track_height-6 %>px'></div>

<div class='block_title'><%= scene.scene_number %> <%= scene.title %></div>
<%- if @track_height > 50 -%>
<div class="block_desc">
<%- non_cloned.each do |block| -%>
<div style = 'float:left;margin:2px;width:10px;height:10px;background:#<%= background_color(block) %>'></div>
<%- end -%>
</div>
<%- end -%>
</div>


<script type = "text/javascript">
jQuery('#d-<%= scene.id %>').draggable({grid:[2,30],scroll:true,scrollSensitivity:50,scrollSpeed:50,handle:'#handle',opacity:0.8,zIndex:1000,axis:'x',
start:function(){jQuery('#duration-div').show()},
drag:function(){updateStartDiv('d-<%= scene.id %>')},
stop:function(){ajaxStartScene('d-<%= scene.id %>')}

});

</script>
<%- end -%>