<div class="tiptip"id="<%= tip_id(block) -%>"style="display:none">
<%= tooltipize(block,castover(block)) %>
</div>
<div class="bbc block hori<%= bord(block) -%>"id="<%= div_id(block) -%>"style="background:#<%= background_color(block) -%>;z-index:<%= block.z_index -%>;left:<%= start_pixels(block) -%>px;width:<%= duration_pixels(block) -%>px">
<div class='drg<%= block.grouped == 1 ? ' grpd' : ''-%>'id='handle'style='height:<%= block_height(block) -%>px'></div>
<%= put_inlet(block) %>

<div class='block_title <%= depend(block) %>'><%= put_title(block) %>

</div>
<%- if @track_height > 50 -%>
<div class="block_desc">
<b><%= block.cast.sort.join(' ') %></b><br />
</div>
<%- end -%>
<%= put_outlet(block) %>
</div> 

<script type = "text/javascript">
$('#<%= div_id(block) %>').resizable({grid:[2,2],handles:'e',transparent:true,scroll:true,
start:function(){$('#duration-div').show();jQuery(this).css("z-index","1000").css('opacity','0.6')},
resize:function(){updateDurationDiv('<%= div_id(block) %>','<%= @time_scale %>')},
stop:function(){ajaxDuration('<%= div_id(block) %>')}
});
$('#<%= div_id(block) %>').draggable({grid:[2,30],scroll:true,scrollSensitivity:50,scrollSpeed:50,handle:'#handle',opacity:0.8,zIndex:1000,
start:function(){$('#duration-div').show()},
drag:function(){updateStartDiv('<%= div_id(block) %>')},
stop:function(e,ui){ajaxStart('<%= div_id(block) %>',e.altKey)}
});
</script>