<%- @assemblage.tracks.each_with_index do |track, i| -%>
<div class='track-container cunsel'id='track-cont-<%= track.id %>'style='top:<%= (i-hidden_count)*@track_height + top_offset %>px;'>
 <div class='track-strip sunsel th<%= @track_height %>'id='track-<%= track.id %>'style="left:<%= start_offset + 3 %>px;width:<%= stripe_width * number_of_stripes %>px;background:#<%= track_background_color(track) %>;"></div>
 <div class='track-label <%= i==0 ? 'lsel' : 'lunsel' %> tlh<%= @track_height %>'style="width:<%= start_offset - 6 %>px;background:#<%= track_background_color(track) %>;"><strong><%= track.title %></strong><br />
  <div class='track-bottom'><%= pluralize(track.blocks.reject{|x| x.is_clone || (params[:search] && (x.cast & params[:search]).length == 0)}.length,'Block') -%>&nbsp;&nbsp;<%= link_to 'Edit', {:controller => :tracks, :action => :edit, :id => track.id , :from => "/assemblages/present/#{@assemblage.id}"}, :class => 'get' %>&nbsp;
  </div>
 </div>
<%- @blocks.select{|x| x.track_id == track.id}.each do |block| -%>
<%- if ((!params[:search])||((block.cast & params[:search]).length > 0))-%>
<%= render :partial => 'one_block', :locals => {:block => block} %>
<%- end -%>
<%- end -%>
</div>
<%- end -%>

<div class='track-container'id='track-cont-SceneTrack'style='top:<%= (@assemblage.tracks.length)*@track_height + top_offset %>px;'>
<div class='track-strip th<%= @track_height %>'id='track-'style="left:<%= start_offset + 3 %>px;width:<%= stripe_width * number_of_stripes %>px;background:#777"></div>
<div class='track-label tlh<%= @track_height %>'style="width:<%= start_offset - 6 %>px;background:#777"><strong>Scenes</strong><br />
<div class='track-bottom'></div>
</div>
<%- @scenes.each do |scene| -%>
<%= render :partial => 'one_scene', :locals => {:scene => scene} %>
<%- end -%>
</div>

<script type = "text/javascript">
var blockShift = <%= block_shift %>
var trackHeight = <%= @track_height %>
var preRoll = <%= pre_roll %>
var timeScale = <%= @time_scale %>
var startOffset2 = <%= start_offset %>
var startOffset = <%= start_offset %> + <%= pre_roll %>

<%- @assemblage.tracks.each do |track| -%>
jQuery("#track-"+<%= track.id -%>).droppable({
  accept: '.ddp',
  drop: function(event,ui){   
    var draggedid = ui.draggable.attr('id');
    var left = scaleIn(event.pageX - startOffset,timeScale);
    var track = jQuery(this).attr('id').replace('track-','');
    var address = '/assemblages/add/'+draggedid+'-'+left+'-'+track;
    addBlock(address);
  }
});
<%- end -%>

</script>

<div id = 'pointer'style = 'position:absolute;left:75px;top:103px;width:2px;height:100%;background:#ff0;z-index:21'></div>