<div id = 'blll'style = "position:absolute;top:2px;left:24px">
<a style = 'color: #000;background:#<%= CLASS_COLORS[:cues] %>;padding:1px'name = 'cues'>cues</a> 
<a style = 'color: #000;background:#<%= CLASS_COLORS[:light] %>;padding:1px'name = 'light'>light</a> 
<a style = 'color: #000;background:#<%= CLASS_COLORS[:sound] %>;padding:1px'name = 'sound'>sound</a> 
<a style = 'color: #000;background:#<%= CLASS_COLORS[:dance] %>;padding:1px'name = 'dance'>dance</a> 
<a style = 'color:#000;background:#aaa;padding:1px'name = 'all'>all</a>
<a style = 'color: #000;background:#ccc;padding:1px'name = 'scene'>scenes</a>
</div><br />
<ul id = 'blklst'class= 'blkul'style = "position:relative;left:-35px;list-style-type:none;">
	
	<%- @blocklists.each do |blocklist|  -%>
	<li class="ddp <%= blocklist.event_type %>x"id = "list-<%= blocklist.id -%>">
	  <div style = "color:<%= blocklist_text_color(blocklist) %>;background:<%= '#'+blocklist_background(blocklist) %>;margin-bottom:3px"><%- if blocklist.dependent-%> * 
<%- end -%><%= blocklist.title %>
<%= link_to 'edit',{:controller => 'blocklists',:action => 'edit',:id => blocklist.id,:from => url_for(:controller => 'assemblages',:action => 'present',:id => @assemblage.id)},:class => 'get' %></div></li>
	<%- end -%>

	<%- @scenes ||= @all_scenes -%>
	<%- @scenes ||= [] -%>
	<%- @scenes.sort_by{|x| x.title}.each do |scene| -%>
	  <li class="ddpsc" id = "list-sc-<%= scene.id %>" style = "display:none">
	  <div style = "color:#000;background:#ccc;margin-bottom:3px">
	   <%= scene.title %>
	   <%= link_to 'edit',{:controller => 'scenes',:action => 'edit',:id => scene.id,:from => url_for(:controller => 'assemblages',:action => 'present',:id => @assemblage.id)},:class => 'get' %>&nbsp;&nbsp;
	   <%= link_to 'delete',{:controller => 'scenes',:action => 'delete',:id => scene.id},:class => 'getdel' %>
	  </div>
	  </li>
	<%- end -%>
</ul>
<script type = "text/javascript">
<%- @blocklists.each do |blocklist| -%>
jQuery('#list-<%= blocklist.id %>').draggable({
  distance: 20,
  revert: true,
  helper: 'clone'
});
<%- end -%>
<%- @scenes.each do |scene| -%>
jQuery('#list-sc-<%= scene.id %>').draggable({
  distance: 20,
  revert: true,
  helper: 'clone'
});
<%- end -%>



</script>