<div id = 'closebox'style = 'position:absolute;top:2px;left:2px;width:12px;height:12px;background:#d00'></div>

<%= render :partial => "/assemblages/right_side_list" %>
<p style = "font-size:11px;color:#fcc">
  create block: double-click in track<br />
  create block at pointer: shift double-click in track<br />
  see block details: double-click on block handle<br />
  toggle selected state: shift-click on block handle<br />
  edit block: double-click on block body<br />
  cue up: option-drag cuee to cuer<br />
  undo: control-z
  select track: click on track label
  create block on selected track: control n
</p>

<%= link_to 'Edit List', :controller => 'blocklists', :action => 'list' %>
<%= link_to 'Add', {:controller => 'blocklists', :action => 'new',:from => url_for(:controller => 'assemblages',:action => 'present',:id => assemblage.id)},:class => 'get' %>
<%= link_to 'New Scene', {:controller => 'scenes', :action => 'new', :id => assemblage.id},:class => 'get' %>
<%= link_to 'New Track', {:controller => 'tracks', :action => 'create_new', :id => assemblage.id},:class => 'trackk' %>
<%= link_to("Undo", {:controller => 'assemblages', :action => 'undo_one', :id => assemblage.id}, :class => 'post') if assemblage.block_undos.length > 0 %>
<p id="indicator" style="display:none;margin-top:10px;color:#fff">
  <img src="/images/yellowspinner.gif"> Updating...
</p>
