<div id = 'closebox'style = 'position:absolute;top:2px;left:2px;width:12px;height:12px;background:#d00'></div>
<br />
<ul id = 'blklst'class= 'blkul'style = "position:relative;left:-35px;list-style-type:none;">
<li style = 'color:#fff;font-size:12px'>% With</li>
<%- (0..assemblage.tracks.length).each do |i| %>
<li style = 'color:#fff;font-size:12px'><%= i %>&nbsp;&nbsp; <%= minutify(assemblage.total_time_with(i)[0],true) %>&nbsp;&nbsp; <%= assemblage.total_time_with(i)[1] %>  </li>
<% end %>
<br >
  <%- assemblage.tracks.each do |track| -%>
    <li style = 'color:#fff;font-size:12px'><%= track.title %>:&nbsp;&nbsp; <%= track.non_cloned_blocks.length %>&nbsp;&nbsp; <%= track.total_time %></li>
  <% end %>
</ul>

