<h2>Configuration</h2>

<% form_tag "/assemblages/update_config" do %>
  <label for="desired_on_time">Desired Time on:</label>
  <%= text_field 'configuration', 'desired_on_time', :size => 5  %><br />
  <label for="min_entrances">Min Entrances:</label>
  <%= text_field 'configuration', 'min_entrances', :size => 5  %><br />
  <label for="max_entrances">Max Entrances:</label>
  <%= text_field 'configuration', 'max_entrances', :size => 5  %><br />
  <label for="min_entrance_time">Min Entrance Time:</label>
  <%= text_field 'configuration', 'min_entrance_time', :size => 5  %><br />
  <label for="max_entrance_time">Max Entrance Time:</label>
  <%= text_field 'configuration', 'max_entrance_time', :size => 5  %><br />
  
  <br /><br />
  <%= submit_tag "Update" %> <%= link_to 'Cancel', params[:from],:class => 'cancel' %>
<% end %>