<div class = 'ddd'id ="resize2"style = 'position:absolute;top:200px;width:100px;height:100px;background:#aaa'>hi
  <div class = 'resizeh' style = 'position:absolute;right:0px;top:0px;height:100px;width:8px;background:#fcc;cursor:e-resize'></div></div>
<div class = 'ddd'id ="resize3"style = 'cursor:move;position:absolute;top:400px;width:100px;height:100px;background:#aaa'>hi
  <div class = 'resizeh' style = 'position:absolute;right:0px;top:0px;height:100px;width:8px;background:#fcc;cursor:e-resize'></div>
  </div>
<script type = 'text/javascript'>
var x = 'hi'
var y = 0
var z = 0
var type = 'move'
  $('.ddd').bind('dragstart',function(event){
    x = $(this).css('width').replace('px','')
    type = $(event.target).is('.resizeh') ? 'resize' : 'move'
  })
  $('.ddd').bind('drag',function(event){
    
    if(type == 'move'){
      $( this ).css({ top:event.offsetY, left:event.offsetX });
      
      
    }else{
      y = parseInt(x)+parseInt(event.offsetX)
      z = event.offsetX
      $(this).css("width",y);
    }

  });

    
    $('.ddd').bind('dragend',function(event){
      alert('width: '+x+ ' offset: ' +z)
      if(type == 'move'){
        text = 'moved: ' + event.offsetX + ' pixels'
      }else{
        text = 'new length: ' + y + ' pixels'
      }
      alert(text)
      y = 0
      x = 'hi'
      });

</script>