<h1>Editing assemblage</h1>

<% form_tag :action => 'update', :id => @assemblage do %>
  <%= render :partial => 'form', :locals => {:assemblage => @assemblage} %>
  <%= submit_tag 'Edit' %>
<% end %>
<%= link_to 'Show', :action => 'show', :id => @assemblage %> |
<%= link_to 'Back', :action => 'list', :id => @assemblage.piece_id %> |
<%= link_to 'To Assemblage', :action => 'present', :id => @assemblage %>

