<%- form_tag({:action => 'group_all',:id => @assemblage.id},:class => 'ajax' ) do -%>
  Select all Blocks after: <%= text_field_tag :after %> Minutes.
  <br /><br /><%= submit_tag "Go" %> <%= link_to 'Cancel',{:controller => 'assemblages', :action => 'present', :id => session[:assemblage_id]}, :class => 'cancel' %>
<%- end -%>
<br />