<%- @grouped_blocks.each do |bloc| -%>
jQuery("#block-<%= bloc.id-%>").remove();
jQuery("#tip-<%= bloc.id-%>").remove();

<%- unless bloc.is_clone -%>
	  jQuery("#track-cont-<%= bloc.track_id-%>").append('<%= escape_javascript(render(:partial => "one_block", :locals => {:block => bloc} )) -%>');
<%- end -%>
<%- end -%>

<%- if @erase -%>
jQuery("#block-<%= @erase -%>").remove();
jQuery("#tip-<%= @erase -%>").remove();
<%- end -%>

<%- @scenes.each do |scene| -%>
    jQuery("#d-<%= scene.id %>").remove();
<%- 		if scene.start_time -%>
	  jQuery("#track-cont-SceneTrack").append('<%= escape_javascript(render(:partial => "one_scene", :locals => {:scene => scene} )) -%>');
<%- end -%>
<%- end -%>
jQuery('#flash-span').html("<%= flash[:notice] -%>")
jQuery('#right_side').html("<%= escape_javascript(render(:partial => '/assemblages/right_side',:locals => {:assemblage => @assemblage})) -%>");
jQuery('#right_side_stats').html("<%= escape_javascript(render(:partial => '/assemblages/right_side_stats',:locals => {:assemblage => @assemblage})) -%>");
jQuery('#form_div').hide();
jQuery('#form_div').html('');