<div id = "listing_container">
<%= link_to 'Assemblage', :action => 'present', :id => @assemblage.id %><br /><br />&nbsp;

<%- @blocks.sort_by{|x| x.start_time}.group_by { |x| x.start_time }.each do |start,group| -%>
<div class = 'time-type-container'>
<div class = 'time-type-heading'><%= minutify(group.first.start_time,true,false) %></div>
<%- group.sort_by{|x| x.track.position}.each do |block| -%>

<%- if @warnings.first && (block.start_time > @warnings.first.start_time - 30) -%>

<div class = 'scene-block-body bb-<%= extra_class(@warnings.first) %>'>
  *warning - <%= @warnings.first.title %>
</div>
<%- @warnings.shift -%>
<%- end -%>

<div class = 'scene-block-body bb-<%= extra_class(block) %>'>
  
<%= content_tag :div, listing_title(block), :class => "scene-block-title bta-#{extra_class(block)}" %>
<%= content_tag :div, listing_description(block), :class => "scene-block-desc bd-#{extra_class(block)}" %>

</div>
<%- end -%>


</div>
<%- end -%>
<br />


<br /><br />
<%= link_to 'Assemblage', :action => 'present', :id => @assemblage.id %><br /><br />&nbsp;
</div>