<div id = "listing_container">
<%= link_to 'Assemblage', :action => 'present', :id => @assemblage.id %><br /><br />&nbsp;
<ul class = 'time-listing'>
<%- @blocks.reject{|x| !x.track_id}.sort_by{|x| x.start_time}.group_by { |x| x.start_time }.each do |start,group| -%>
<div class = 'time-container'>
<li><div class = 'time-heading'><%= minutify(group.first.start_time+21*60*60,false,true) %></div>
<ul>
<%- group.sort_by{|x| x.track.position}.each do |block| -%>
<li>

<div class = 'time-block-body %>'>
<%= content_tag :div, h(block.track.title), :class => "time-listing-track" %>
<%= content_tag :div, block.title + '&nbsp;&nbsp;' + minutify(block.duration), :class => "time-listing-title" %>
<%= content_tag :div, h(block.cast.join(' ')), :class => "time-listing-cast" %>
<%= content_tag :div, h(block.description), :class => "time-listing-desc" %>

</div>
</li>
<%- end -%>
</ul>
</li>

</div>
<%- end -%>
</ul>
<br />


<br /><br />
<%= link_to 'Assemblage', :action => 'present', :id => @assemblage.id %><br /><br />&nbsp;
</div>