<div id = "listing_container">
<span class = 'back-to'><%= link_to 'Assemblage', :action => 'present', :id => @assemblage.id %></span><br /><br />&nbsp;
<%- @scenes.each do |scene| -%>
<div class = 'scene-container'>
<div class = 'scene-heading'><%= scene.scene_number %>&nbsp;&nbsp;<%= scene.title %>&nbsp;&nbsp;<span style = 'font-weight:normal'><%= '('+scene.cast.join(' ')+')' if scene.cast.length > 0 %></span></div> 
<%- scene.blocks.sort_by{|x| x.start_time}.group_by { |x| x.start_time }.each do |start,group| -%>
<%- group.sort_by{|x| x.track.position}.each do |block| -%>
<%- if @warnings.first && (block.start_time > @warnings.first.start_time - 30) -%>
<div class = 'scene-block-body bb-<%= extra_class(@warnings.first) %>'>
  *warning - <%= @warnings.first.title %>
</div>
<%- @warnings.shift -%>
<%- end -%>
<div class = 'scene-block-body bb-<%= extra_class(block) %>'>
  
<%= content_tag :div, listing_title(block), :class => "scene-block-title bt-#{extra_class(block)}" %>
<%= content_tag :div, listing_description(block), :class => "scene-block-desc bd-#{extra_class(block)}" %>

</div>
<%- end -%>
<%- end -%>
<br />
</div>
<%- end -%>
<br /><br />
<span class = 'back-to'><%= link_to 'Assemblage', :action => 'present', :id => @assemblage.id %></span><br />&nbsp;
</div>
