<%- if current_piece -%>
<h1>Listing assemblages in "<%= current_piece.title -%>"</h1>
<%- else -%>
<h1>Listing All Assemblages</h1>
<%- end -%>
<table>
  <tr>
    <th>id</th>
    <th>title</th>
    <%- unless current_piece -%>
    <th>piece</th>
    <%- end -%>
    <th>created_at</th>
    <th>created_by</th>
    <th>constrained</th>
    <th colspan = '5'>Actions</th>
  </tr>
  
<% for assemblage in @assemblages %>
  <tr class = <%= cycle('row-1','row-2') %>>
    <td><%=h assemblage.id %></td>
    <td><%=h assemblage.title %></td>
    <%- unless current_piece -%>
    <td><%=h assemblage.piece.title %></td>
    <%- end -%>
    <td><%=h assemblage.created_at.strftime("%d/%m/%y - %H:%M:%S") %></td>
    <td><%=h assemblage.created_by %></td>
    <td><%= assemblage.constrained ? 'constrained' : 'normal' %></td>
    <td><%= link_to 'Use', :action => 'present', :id => assemblage,:showpanel => 'true' %></td>
    <td><%= link_to 'Show', :action => 'show', :id => assemblage %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => assemblage %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => assemblage }, :confirm => 'Are you sure?', :method => :post %></td>
    <td><%= link_to('Clone', {:controller => 'assemblages', :action=> 'save_as_version', :id => assemblage.id} ,:method => :post ) -%></td>
  </tr>
<% end %>
</table>
<%- if current_piece -%>
<br />
<%= link_to 'New assemblage', :action => 'new', :id => current_piece.id %>
<%- end -%>