<div id = 'listing_container' >
    <h1>Listing <%= params[:performer] %></h1>
    <%- @tracks.each do |track| -%>
    <%- track_blocks = params[:performer] == 'Everyone' ? track.non_cloned_blocks : track.non_cloned_blocks.reject{|x| !(x.cast.include?(params[:performer]))} -%>
  <%- if track_blocks.length > 0 -%>  
    <div style = 'color:<%= (HtmlColor.darken(track_background_color(track))) %>'>
    <h2><%= track.title %></h2>
    <ul>
     <%- track_blocks.sort_by{|x| x.start_time}.each do |block| -%>
     <li>
      <div  class = 'track-listblock'>
       <span class = "track-listing-time"><%= minutify(@assemblage.start_time+block.start_time,true,true) %></span>
       <span class = 'track-listing-title'><%= block.title %></span><br />
       <%-if true  -%>
       <span class = 'track-listing-cast'><%= block.cast.join(' ') %></span><br />
       <%- end -%>
       <%-if true  -%>
       <span class = 'track-listing-desc'><%= block.description %></span>
       <%- end -%>
      </div>
     </li>
     <%- end -%>
</ul>
    <%- end -%>
<%- end -%>
</div>
   <br /><br />
        <%= link_to 'Assemble', :action => 'present', :id => params[:id] %>
        <br /><br />
