<h1>New assemblage</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form', :locals => {:assemblage => @assemblage} %>
  <%=  %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
