<h2>Performer Filter:</h2>
<% form_tag({:controller => 'assemblages', :action => 'present',:id => @assemblage.id},:method => 'post') do %>
<%= checklist('search[]',current_piece.performers,['short_name','short_name']) -%>
<%= hidden_field_tag(:performer_filter, 'true') %><br />
<%= submit_tag "Search", :name => 'non_with_everyone' %> search for scenes with the above performers and any number of others
<br /><br />
<%- end -%>
<%= link_to 'Cancel',{:action => 'present', :id => current_piece.id}, :class => 'cancel'%>
<br />