<div id = 'time-div' style = 'display:none'>00:00</div>
<div id = 'duration-div' style = 'display:none'></div>
<div id='scroll-div'style=''>Turn Scroll Off</div>
<div id = 'flatten'><%= 'Flattened' if session[:flatten] %></div>
<%= render(:partial => 'grid') -%>

<%= render :partial => 'present' %>

<div id='h-tim'style='left:10px'><a id = 'gostop'href= ''>START</a></div>
<br />
<div id ="right_side_stats">
  <%= render(:partial => 'right_side_stats', :locals => {:assemblage => @assemblage,:tracks => @assemblage.tracks}) if @showpanel == 'true' %>
</div>
<!--  -->
<div id = "right_side"style = "">
<%= render(:partial => 'right_side', :locals => {:assemblage => @assemblage,:tracks => @assemblage.tracks}) if @showpanel == 'true' %>
</div>
<div id = 'assid'><%= @assemblage.id %></div>