<div id = "listing_container">
  <div id='texti'>
    
  </div>
  <script type = 'text/javascript'>
  jQuery('#texti').epiclock({mode: EC_LOOP, format: 's { seconds remain}', offset: {seconds: 5}, onTimer: function(){ 
          rolls.text((rolls.text()*1) + 1); 
      }})
      .clocks(EC_RUN);
  </script>
</div>