<br /><br /><br /><br /><br /><br />
<h2>report</h2>
<table>
  <tr style ='background:#d0d0d0'>
    <th style = "padding:3px">Time:</th>
    <th style = "padding:3px">Enter:</th>
    <th style = "padding:3px">Exit:</th>
    <th style = "padding:3px"># On:</th>
    <th style = "padding:3px">Onstage:</th>

  </tr>

<%- prev = @assemblage.blocks_on_at(0) -%>
<%- @assemblage.transition_points.each do |a| -%>
<tr style = "background:<%= cycle("#f0f0f0",'#e0e0e0') %>">
  <%- bo = @assemblage.blocks_on_at(a) %>
  <%- add = bo - prev -%>
  <%- remove = prev - bo -%>
 <td style = "padding:3px"><%= minutify(a,true,true) %></td>
 <td style = "padding:3px"><%=add.map{|x| x.title}.join(', ')%></td>
 <td style = "padding:3px"><%=remove.map{|x| x.title}.join(', ')-%></td>
  <td style = "padding:3px"><%= bo.length %></td>
  <td style = "padding:3px"><%=bo.map{|x| x.title}.join(',&nbsp;') %> </td>
  <%- prev = bo -%>
</tr>
<%- end %>
</table>