<div id = 'assemblage_content'>
<% for column in Assemblage.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @assemblage.send(column.name) %>
</p>
<% end %>
<%= link_to 'Use this Assemblage', :action => 'present', :id => @assemblage %> |
<%= link_to 'Edit', :action => 'edit', :id => @assemblage %> |
<%= link_to 'List Assemblages', :action => 'list', :id => @assemblage.piece_id %>
</div>