      jQuery("#block-<%= @block.id-%>").remove();
      jQuery("#tip-<%= @block.id-%>").remove();
	  jQuery("#track-cont-<%= @block.track.id-%>").append('<%= escape_javascript(render(:partial => "one_block", :locals => {:block => @block} )) -%>');
jQuery('#form_div').hide();
jQuery('#form_div').html('');