<h1>Editing note ID: <%= @note.id %></h1>

<% form_tag :controller => 'notes', :action => 'update', :id => @note do %>
  <%= render :partial => 'editform' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @note %> |
<%= link_to 'Back', :action => 'list' %>
