<p><label for="track_title">Name</label><br/>
<%= text_field_tag  'title', @track.title  %></p>
<%= color_picker('@track','color') -%>
<p><label for="track_position">Position</label><br/>
  <%- n = @track.assemblage.tracks.length -%>
<%= select_tag 'position', options_for_select(1..n,@track.position)  %></p>
<p><label for="track_type">Type</label><br/>

<%= select_tag 'track_type', options_for_select(TRACK_TYPE_LIST,@track.track_type)  %></p>

