<h2>Editing track</h2>

<% form_tag "/tracks/update/#{params[:id]}" do %>
  <%= render :partial => 'form' %>
  <%= hidden_field_tag :from, @from.gsub('.js','') %>
  <%= submit_tag "Update" %> <%= link_to 'Cancel', params[:from],:class => 'cancel' %>
<% end %>

