<h1>Listing tracks in <%= @assemblage ? @assemblage.title : 'all assemblages.' %></h1>

<table>
  <tr>
    <th>id</th>
    <th>title</th>
    <th>color</th>
    <th>type</th>
    <th>position</th>
    <th>assemblage title</th>
    <th>piece title</th>
    <th colspan = '3'>Actions</th>
    
  </tr>

<% for track in @tracks %>
  <tr>
    <td><%= track.id %></td>
    <td><%= h track.title %></td>
    <td style = 'background:#<%= track.color %>'></td>
    <td><%= track.track_type %></td>
    <td><%= track.position %></td>
    <td><%= h track.assemblage.title %></td>
    <td><%= h track.assemblage.piece.title %></td>
    <td><%= link_to 'Show', track %></td>
    <td><%= link_to( 'Edit', :action => 'edit', :id => track.id, :from => url_for(params)) %></td>
    <td><%= link_to 'Destroy', track, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%- if @assemblage -%>
<%= link_to 'New track', "/tracks/new/#{@assemblage.id}" %>
<br /><br />
<%= link_to "Back to Assemblage: '#{@assemblage.title}'", :controller => 'assemblages', :action =>'present', :id => @assemblage.id %>
<%- end -%>
