<h1>New track</h1>

<% form_for(@track) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form' %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back to Track List', :controller => :tracks, :action => :index, :id => @track.assemblage.id %>
