<p>Id: <%= @track.id %></p>
<p>Title: <%= @track.title %></p>
<p>Assemblage Id: <%= @track.assemblage.id %></p>
<p>Assemblage Title: <%= @track.assemblage.title %></p>
<p>Color: <%= @track.color %></p>
<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back to Track List', :controller => :tracks, :action => :index, :id => @track.assemblage.id %> | 
<%= link_to 'Back to Assemblage', :controller => :assemblages, :action => :present, :id => @track.assemblage.id %>
