<h2>Logins</h2>

<%#= will_paginate @logins %>

<%#= universal_table(
  @logins,{
  :columns => [{'Name' => 'user.login'},
                {'When' => 'created_at',:sort => 'created_at'},
                {'In/Out' => 'inout'}
]
  })
  %>
