body {background-color: #fff; color: #111}
body, p, ol, ul, td {font-family: arial, helvetica, sans-serif; font-size: 13px}
pre {background-color: #fff; padding: 10px; font-size: 11px}
a {color: #000}
a:visited {color: #666}
a:hover {color: #fff; background-color:#000}
.fieldWithErrors {padding: 2px; background-color: red; display: table}
#errorExplanation {width: 400px; border: 2px solid red; padding: 7px; padding-bottom: 12px; margin-bottom: 20px; background-color: #f0f0f0}
#errorExplanation h2 {text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; font-size: 12px; margin: -7px; background-color: #c00; color: #fff}
#errorExplanation p {color: #333; margin-bottom: 0; padding: 5px}
#errorExplanation ul li {font-size: 12px; list-style: square}
div.uploadStatus {margin: 5px}
div.progressBar {margin: 5px}
div.progressBar div.border {background-color: #fff; border: 1px solid grey; width: 100%}
div.progressBar div.background {background-color: #333; height: 18px; width: 0%}
a img {border: none}
#demoblock{ border:3px #339 solid; color:#333399; background:#aaf; padding:8px; padding-top:1px; font-size:1.2em}
#demoblock p{ font-size:1em }
#piecemaker_header{ position:fixed; top:0px; left:0px; width:100%; z-index:900; color: #fff; text-align: left}
#banner {background: #006; height: 75px}
#banner a{ padding: 4px 7px; background-color: #67b; text-decoration: none; font-size:11px; color:#ddf; font-weight:bold}
#banner a:hover {background-color: #99c; color: #fff}
#logo{ position:absolute; top:12px; left:10px; font-size: 30px}
#login_div{ position:absolute; top:7px; right:7px; width:500px; height:24px; text-align:right; font-size:11px; color:#eee; z-index:960}
.ugr{ color:#69f}
#menu_strip{ position:absolute; top:52px; left:0px; height:20px; background:#006; z-index:1000}
input.text, input.title, textarea, select {border:1px solid #aaa}
input.text:focus, input.title:focus, textarea:focus, select:focus {border:1px solid #666}
input.text, input.title {padding:2px;}
input.title {font-size:1em}
#info_strip {background: #ddd; padding: 6px; border-bottom:2px solid #999; height:14px; z-index:20; color:#339; font-size:1em}
#info_title{ font-size:1.1em; font-weight:bold}
.message {background: #bfb; padding: 6px; border-bottom:2px solid #0a0; height:18px; z-index:20; color:#060}
.error {background: #fbb; padding: 6px; border-bottom:2px solid #a00; height:18px; z-index:20; color:#600}
.main {padding-top: 0px; padding-bottom: 10px; position: absolute; top: 125px; left:50%; margin-left:-400px; width:900px}
.main a{display:inline;padding:2px;background:#55b;color:#ccc;text-decoration:none;}
.main a:hover{background:#99c;}
.main table {border:1px solid #fff; border-collapse:collapse}
.main tr td{ height: 24px; border:1px; border-style: solid; border-color: #fff; padding:1px 2px 1px 2px}
.row-1{ background:#e6e6e6}
.row-2{ background:#d0d0d0}
.main th{ height: 24px; border:1px solid #ccc; background:#c0c0c0}
.main table a{ background:none; color:#009; text-decoration:underline}
.destroy a {padding:0px; background:#c39;}
.form_div{ position:fixed; left:50%; margin-left:-400px; top:10px; max-height:500px; overflow:scroll; width:800px; border-style:solid; border-color:#339; background:#eef; z-index:2000; padding:6px; overflow:auto}
#scratchpad{ }
.found{ font-weight:bold; background:#0df }
.form_div a {display:inline;padding:4px;background:#55b;color:#ccc;text-decoration:none;font-size:11px;}
.form_div a:hover{color:#fff;background:#99f;}
.form_div strong {background:#f7b}
input[type="submit"] {background:#afa; border:1px solid; color:#000; margin-top: 0px; line-height:1.4em; padding:2px 4px 2px 4px}
input[type="submit"]:hover {background:#34c none repeat scroll 0%; cursor:pointer; color:#fff}
#documentation a {display:inline; background:#fff; color:#33c; text-decoration:none}
#documentation a:hover {color:#fff}
#left_tips{ position:fixed; top:150px; left:10px; width:170px; height:300px; background:#ddd; border: solid 2px #ccc; color:#336; font-size:11px; padding:5px}
#left_tips p {color:#336; font-size:11px}
#color-display{ float:left; width:22px; height:22px}
#colorpicker{ margin-top:3px; border:thin solid #ccc; z-index: 1000}
#colorpicker tr td{ height:0px; width:0px; border-width:1px; padding:8px}
#jump{ position:fixed;top:240px;width:100px;left:10px;height:360px;overflow:scroll; font-size:.85em}
#quick{ position:fixed;top:140px;width:120px;left:5px; font-size:.9em}
#sub_quick{ position:fixed;top:340px;width:120px;left:5px; font-size:.9em}
.update{ position:absolute; top:5px; right:10px; color:#a00 }
#documentation h2{ margin-left:10px}
#documentation h3{ margin-left:20px}
#documentation h4{ margin-left:30px}
#documentation p{ margin-left:40px}
#documentation ul{ margin-left:40px}
.menu {height:22px;font-size:0.85em;position:relative;z-index:2000;border-right:1px solid #006;text-align:center}
.menu ul {padding:0;margin:0;list-style-type:none}
.menu ul ul {width:109px}
.menu li {float:left;width:109px;position:relative}
.menu a {display:block;font-size:.85em;text-decoration:none; color:#fff; width:108px; height:22px; border:1px solid #000; border-width:0px 0px 1px 1px; background:#5555aa; padding-left:0px; line-height:22px}
* html .menu a, * html .menu a:visited {width:119px}
.menu ul ul a.drop, .menu ul ul a.drop:visited {background:#99f url(/images/drop.gif) bottom right no-repeat}
.menu ul ul a.drop:hover{background:#5555aa url(/images/drop.gif) bottom right no-repeat}
.menu ul ul :hover > a.drop {background:#5555aa url(/images/drop.gif) bottom right no-repeat}
.menu ul ul ul a, .menu ul ul ul a:visited {background:#99f}
.menu ul ul ul a:hover {background:#5555aa}
.menu ul ul {visibility:hidden;position:absolute;height:0;top:23px;left:0; width:109px;border-top:0px solid #000}
* html .menu ul ul {top:25px}
.menu ul ul ul{left:119px; top:-1px; width:120px;border-width:1px}
.menu ul ul ul.left {left:-119px}
.menu table {position:absolute; top:0; left:0; border-collapse:collapse}
.menu ul ul a, .menu ul ul a:visited {background:#9999ff; color:#000; height:auto; line-height:1em; padding:5px 10px; width:98px;border-width:0px 1px 1px 1px}
* html .menu ul ul a, * html .menu ul ul a:visited {width:110px}
.menu a:hover, .menu ul ul a:hover{color:#fff; background:#5555aa}
.menu :hover > a, .menu ul ul :hover > a {color:#fff;background:#5555aa}
.menu ul li:hover ul, .menu ul a:hover ul{visibility:visible}
.menu ul :hover ul ul{visibility:hidden}
.menu ul :hover ul :hover ul{visibility:visible}
#disabled a{background:#aac}
#disabled a:hover{color:#000}
#heading a{background:#5555aa;color:#fff}
#heading a:hover{color:#fff}
#form_div{ margin-left:-300px; width:600px}
#assemblage_content{ position:absolute; top:100px; left:50%; margin-left:-400px; width:800px}
.tip-link {position:absolute; top:2px; left:30px}
.block{ color:#000}
.block_content{ position:absolute; left:0px; top:0px; margin-left:8px; line-height:12px; height:100%}
.block_info{ position:absolute; line-height:9px; font-size:9px}
.blkul li {font-size:11px;line-height:12px}
.rsz{ width:8px; position:absolute; right:0px; top:0px; background:#000; opacity:.1}
.h-gd{ font-size:14px; position:absolute; z-index:21; top:102px; font-family:courier; color:#ccc; background:#333; height:100%; border-color:#99c; border-left-style:solid}
#h-tim{ position:fixed; top:105px; left:5px; font-size:10px; z-index:800; font-family:courier; color:#aaa; background:#333; height:10px}
#h-tim a{color:#ccc;background:#119011;padding-left:3px;padding-right:3px;padding-top:0px;padding-bottom:2px;}
.rdd{border-left-color:#f00}
.b3{border-left-width:3px}
.b2{border-left-width:2px}
.b1{border-left-width:1px}
.block_title{ padding:2px; font-size:11px; font-weight:bold; overflow:hidden; position:absolute; top:0px; left:14px; width:120px; line-height:12px; height:90%}
.block_desc{ position:absolute; top:0px; left:140px; width:200px; line-height:12px; height:90%; overflow:hidden}
.grid{ font-size:9px; position:absolute; z-index:2; font-family:courier; color:#000 }
#grid-container{ z-index:5000; width:800px; overflow:hidden}
.hori{ z-index:20; top:0px}
.vert{ z-index:20}
.drg{ background:#777; opacity:.7; width:8px; position:relative; left:0px }
.cued{ background-image:url(/images/badge17.png); background-position:top; background-repeat:repeat}
.grpd{ background-image:url(/images/badge24.png); background-position:top; background-repeat:repeat}
.group_indi{ top:0px; width:2px; position:absolute; left:6px }
.sel{ background:#696; opacity:1 }
.block{ width:90px; overflow:hidden; border-style:solid; border-color:#444; border-width:1px; font-size:10px; position:absolute}
.depend{ font-style:italic}
.tiptip{ position:absolute; top:0px; z-index:500; top:20px; width:300px; border:3px solid #000; padding:3px; color:#eee; background:#222; opacity:.85; margin-top:0px; margin-left:20px}
#tip-close{ position:absolute; top:2px; left:2px; width:16px; height:16px; background:#d00; float:left}
.tip-link a {padding:2px; font-size:11px; color:#000; text-decoration:none; background:#fff}
a.delk {background:#f00;}
a.grlk {background:#ff0;}
a.bllk {background:#0f0;}
a.qulk {background:#0ff;}
a.salk {background:#0ff;}
a.brcu {color:#fff;}
.bord{border: 2px #e33 solid;}
#right_side a{ color:#ccc; font-size:12px}
.track-container{position:absolute;left:0px;}
.track-strip{position:absolute;z-index:22;opacity:.25;}
.sele{opacity:.50;}
.track-label{font-size:12px;padding:2px;position:absolute;left:0px;z-index:500;opacity:1}
.track-bottom{position:absolute;bottom:3px;right:4px;font-size:9px}
.sunsel{opacity:.25;}
.ssel{opacity:.50;}
.th100{height:97px;}
.th90{height:87px;}
.th60{height:57px;}
.th30{height:27px;}
.tlh100{height:91px;}
.tlh90{height:81px;}
.tlh60{height:51px;}
.tlh30{height:21px;}
#right_side{ z-index:800; position:absolute; top:122px; right:20px; width:260px; background:#222; opacity:.90; padding:4px; border:solid 2px #aaa }
#right_side_stats{ z-index:800; position:fixed; top:122px; right:20px; width:180px; background:#222; opacity:.90; padding:4px; border:solid 2px #aaa }
#duration-div{ padding:4px; position:fixed; top:76px; left:50%; margin-left:-70px; width:140px; height:12px; border:2px solid #333; background:#666; z-index:2000; color:#eef }
#time-div{ font-size:20px; padding:1px; padding-left:5px; position:fixed; top:76px; left:50%; margin-left:-70px; width:80px; height:24px; background:#666; z-index:2000; color:#eef }
#scroll-div{ font-size:12px; padding:1px; position:fixed; top:76px; right:100px; margin-left:-70px; width:80px; height:20px; border:2px solid #333; background:#666; z-index:2000; color:#eef }
#flatten{ position:absolute; top:102px; left:5px; z-index:100; color:#070; font-size:12px; background:#cfc; padding:0px }
#blklst a{ font-size:10px; color:#00a}
#blklst a:hover{ color:#ccc}
.inlet{ position:absolute; top:0px; left:0px; width:8px; height:8px; background:#000; opacity:1}
.outlet{ position:absolute; bottom:0px; left:0px; width:8px; height:8px; background:#000; opacity:1}
.white{ background:#fff}
.red{ background:#f00}
.out-active{ background:#f00; opacity:1}
.ui-resizable-handle {position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {display: none}
.ui-resizable-e {cursor: e-resize; width: 10px; right: -5px; top: 0px; height: 100%}
#listing_container{ position:absolute; top:120px; left:100px; width:1000px}
#listing_container ul {list-style:none}
 .track-listblock{ font-family:courier; font-size:1.5em; position:relative; margin-bottom:15px}
.track-listing-time{ font-size:18px; text-align:right}
.track-listing-title{ font-family:helvetica; position:relative; font-size:.9em; left:2em}
.track-listing-cast{ font-family:helvetica; position:relative; font-size:.7em; font-weight:bold; left:11em}
.track-listing-desc{ font-family:times; position:relative; font-size:.7em; left:11em}
 .time-container{ width:100%; margin-bottom:10px; font-size:16px}
.time-heading{ font-family:courier; font-size:1.1em; font-weight:normal; margin-bottom:20px}
.time-block-body{ position:relative; clear:both; margin-bottom:10px; left:3em; top:-3em}
.time-listing-track{ }
.time-listing-title{ font-size:1.2em; position:absolute; top:0px; left:15em}
.time-listing-cast{ position:relative; left:20em; line-height:2em; font-size:.9em; font-family:helvetica; font-weight:bold; width:75%}
.time-listing-desc{ position:relative; left:7em; font-size:.9em; font-family:times; width:75%}
 .scene-container{ width:100%; margin-bottom:50px; font-size:16px}
.scene-heading{ font-size:1.3em; font-weight:bold; margin-bottom:25px}
.scene-block-body{ position:relative; clear:both; margin-bottom:10px}
.bb-{ left:4%}
.bb-cues{ left:4%; width:40%; height:30px; font-size:1.2em; font-weight:bold; font-family:times}
.bb-light{ left:7%; width:76%}
.bb-sound{ left:70%; width:30%; font-size:1.1em; margin-bottom:0px; font-family:courier}
.bb-dance{ left:10%; width:74%; font-size:1.1em}
.bb-text{ left:10%; width:74%; font-size:1.1em}
.scene-block-title{ }
.bt-cues{ float:left}
.bt-light{ font-size:1.1em; font-weight:bold; font-style:italic; float:left}
.bt-dance{ }
.scene-block-desc{ position:relative; left:6%; font-size:.9em; font-family:times; width:100%}
.bd-cues{ left:15%; font-size:.8em; font-style:normal; font-weight:normal}
.cue-message{ font-size:.8em}
 .time-type-container{ width:100%; margin-bottom:10px; font-size:16px}
.time-type-heading{ font-family:courier; font-size:1.1em; font-weight:normal; margin-bottom:20px}
@charset "utf-8";  ul.onglets-hor {margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; background:#AAA url(../images/degrade-menu.png) repeat-x; display:table; border:1px solid #CCC; border-width:1px 0 1px 1px;}
ul.onglets-hor li {margin:0; padding:0; list-style:none; float:left; margin:0; border-left:1px solid #FFF; border-right:1px solid #CCC;}
ul.onglets-hor li a {display:block; background:#333 url(../images/bg-link-onglet.png) top left; color:#000; height:21px; line-height:21px; text-decoration:none; padding:0 6px; font-size:11px; text-transform:uppercase}
ul.onglets-hor li a:hover {background-position:bottom left;}
ul.onglets-hor li ul {margin:1px 0 0 0; padding:10px 0 0 0; background:#E3E3E3 url(../images/bg-first.png) 20px 0 no-repeat}
ul.onglets-hor li ul li {float:none; border:0; border-bottom:1px solid #FFF;}
ul.onglets-hor li ul li a {display:block; background:#E3E3E3; color:#000; border:0; text-transform:none; height:auto; padding:4px 6px; line-height:12px;}
ul.onglets-hor li ul li a:hover {background:#F00 url(../images/arrow-menu.gif) no-repeat right center; color:#FFF;}
ul.onglets-hor li ul li ul {margin:-20px 0 0 0; padding:0 0 0 0; border:1px solid #DDD; border-bottom-width:0}
ul.onglets-hor li ul li ul li{ float:none; border:0; border-bottom:1px solid #DDD;}
ul.onglets-hor li ul li ul li a {display:block; background:#FFF; color:#666; border:0; text-transform:none}
ul.onglets-hor li ul li ul li a:hover {background:#DDD; color:#000;}