 #form_div{ margin-left:-300px; width:600px}
#assemblage_content{ position:absolute; top:100px; left:50%; margin-left:-400px; width:800px}
.tip-link {position:absolute; top:2px; left:30px}
.block{ color:#000}
.block_content{ position:absolute; left:0px; top:0px; margin-left:8px; line-height:12px; height:100%}
.block_info{ position:absolute; line-height:9px; font-size:9px}
.blkul li {font-size:11px;line-height:12px}
.rsz{ width:8px; position:absolute; right:0px; top:0px; background:#000; opacity:.1}
.h-gd{ font-size:9px; position:absolute; z-index:21; top:102px; font-family:courier; color:#aaa; background:#333; height:100%; border-color:#99c; border-left-style:solid}
#h-tim{ position:fixed; top:105px; left:5px; font-size:10px; z-index:1000; font-family:courier; color:#aaa; background:#333; height:10px}
#h-tim a{color:#ccc;background:#119011;padding-left:3px;padding-right:3px;padding-top:0px;padding-bottom:2px;}
.rdd{border-left-color:#f00}
.b3{border-left-width:3px}
.b2{border-left-width:2px}
.b1{border-left-width:1px}
.block_title{ padding:2px; font-size:11px; font-weight:bold; overflow:hidden; position:absolute; top:0px; left:14px; width:120px; line-height:12px; height:90%}
.block_desc{ position:absolute; top:0px; left:140px; width:200px; line-height:12px; height:90%; overflow:hidden}
.grid{ font-size:9px; position:absolute; z-index:2; font-family:courier; color:#000 }
#grid-container{ z-index:5000; width:800px; overflow:hidden}
.hori{ z-index:20; top:0px}
.vert{ z-index:20}
.drg{ background:#777; opacity:.7; width:8px; position:relative; left:0px }
.cued{ background-image:url(/images/badge17.png); background-position:top; background-repeat:repeat}
.grpd{ background-image:url(/images/badge24.png); background-position:top; background-repeat:repeat}
.group_indi{ top:0px; width:2px; position:absolute; left:6px }
.sel{ background:#696; opacity:1 }
.block{ width:90px; overflow:hidden; border-style:solid; border-color:#444; border-width:1px; font-size:10px; position:absolute}
.depend{ font-style:italic}
.tiptip{ position:absolute; top:0px; z-index:500; top:20px; width:300px; border:3px solid #000; padding:3px; color:#eee; background:#222; opacity:.85; margin-top:0px; margin-left:20px}
#tip-close{ position:absolute; top:2px; left:2px; width:16px; height:16px; background:#d00; float:left}
.tip-link a {padding:2px; font-size:11px; color:#000; text-decoration:none; background:#fff}
a.delk {background:#f00;}
a.grlk {background:#ff0;}
a.bllk {background:#0f0;}
a.qulk {background:#0ff;}
a.salk {background:#0ff;}
a.brcu {color:#fff;}
.bord{border: 2px #e33 solid;}
#right_side a{ color:#ccc; font-size:12px}
.track-container{position:absolute;left:0px;}
.track-strip{position:absolute;z-index:22;opacity:.25;}
.sele{opacity:.50;}
.track-label{font-size:10px;padding:3px;position:absolute;left:0px;z-index:20;opacity:1}
.track-bottom{position:absolute;bottom:3px;right:4px;font-size:10px}
.sunsel{opacity:.25;}
.ssel{opacity:.50;}
.th100{height:97px;}
.th90{height:87px;}
.th60{height:57px;}
.th30{height:27px;}
.tlh100{height:91px;}
.tlh90{height:81px;}
.tlh60{height:51px;}
.tlh30{height:21px;}
#right_side{ z-index:1000; position:fixed; top:122px; right:20px; width:260px; background:#222; opacity:.90; padding:4px; border:solid 2px #aaa }
#duration-div{ padding:4px; position:fixed; top:76px; left:50%; margin-left:-70px; width:140px; height:12px; border:2px solid #333; background:#666; z-index:2000; color:#eef }
#flatten{ position:absolute; top:102px; left:5px; z-index:100; color:#070; font-size:12px; background:#cfc; padding:0px }
#blklst a{ font-size:10px; color:#00a}
#blklst a:hover{ color:#ccc}
.inlet{ position:absolute; top:0px; left:0px; width:8px; height:8px; background:#000; opacity:1}
.outlet{ position:absolute; bottom:0px; left:0px; width:8px; height:8px; background:#000; opacity:1}
.white{ background:#fff}
.red{ background:#f00}
.out-active{ background:#f00; opacity:1}
.ui-resizable-handle {position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {display: none}
.ui-resizable-e {cursor: e-resize; width: 10px; right: -5px; top: 0px; height: 100%}
#listing_container{ position:absolute; top:120px; left:100px; width:1000px}
#listing_container ul {list-style:none}
.track-listblock{ font-family:courier; font-size:1.5em; position:relative; margin-bottom:15px}
.track-listing-time{ font-size:18px; text-align:right}
.track-listing-title{ font-family:helvetica; position:relative; font-size:.9em; left:2em}
.track-listing-cast{ font-family:helvetica; position:relative; font-size:.7em; font-weight:bold; left:11em}
.track-listing-desc{ font-family:times; position:relative; font-size:.7em; left:11em}
.time-container{ width:100%; margin-bottom:10px; font-size:16px}
.time-heading{ font-family:courier; font-size:1.1em; font-weight:normal; margin-bottom:20px}
.time-block-body{ position:relative; clear:both; margin-bottom:10px; left:3em}
.time-listing-track{ }
.time-listing-title{ font-size:1.2em; position:absolute; top:0px; left:5em}
.time-listing-cast{ position:relative; left:7em; line-height:2em; font-size:.9em; font-family:helvetica; font-weight:bold; width:75%}
.time-listing-desc{ position:relative; left:7em; font-size:.9em; font-family:times; width:75%}
.scene-container{ width:100%; margin-bottom:50px; font-size:16px}
.scene-heading{ font-size:1.3em; font-weight:bold; margin-bottom:25px}
.scene-block-body{ position:relative; clear:both; margin-bottom:10px}
.bb-{ left:4%}
.bb-cues{ left:4%; width:40%; height:30px; font-size:1.2em; font-weight:bold; font-family:times}
.bb-light{ left:7%; width:76%}
.bb-sound{ left:70%; width:30%; font-size:1.1em; margin-bottom:0px; font-family:courier}
.bb-dance{ left:10%; width:74%; font-size:1.1em}
.scene-block-title{ }
.bt-cues{ float:left}
.bt-light{ font-size:1.1em; font-weight:bold; font-style:italic; float:left}
.bt-dance{ }
.scene-block-desc{ position:relative; left:6%; font-size:.9em; font-family:times; width:100%}
.bd-cues{ left:15%; font-size:.8em; font-style:normal; font-weight:normal}
.cue-message{ font-size:.8em}
.time-type-container{ width:100%; margin-bottom:10px; font-size:16px}
.time-type-heading{ font-family:courier; font-size:1.1em; font-weight:normal; margin-bottom:20px}