body {background-color: #fff; color: #111}
body, p, ol, ul, td {font-family: arial, helvetica, sans-serif; font-size: 13px}
pre {background-color: #fff; padding: 10px; font-size: 11px}
a {color: #000}
a:visited {color: #666}
a:hover {color: #fff; background-color:#000}
.fieldWithErrors {padding: 2px; background-color: red; display: table}
#errorExplanation {width: 400px; border: 2px solid red; padding: 7px; padding-bottom: 12px; margin-bottom: 20px; background-color: #f0f0f0}
#errorExplanation h2 {text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; font-size: 12px; margin: -7px; background-color: #c00; color: #fff}
#errorExplanation p {color: #333; margin-bottom: 0; padding: 5px}
#errorExplanation ul li {font-size: 12px; list-style: square}
div.uploadStatus {margin: 5px}
div.progressBar {margin: 5px}
div.progressBar div.border {background-color: #fff; border: 1px solid grey; width: 100%}
div.progressBar div.background {background-color: #333; height: 18px; width: 0%}
a img {border: none}
#demoblock{ border:3px #339 solid; color:#333399; background:#aaf; padding:8px; padding-top:1px; font-size:1.2em}
#demoblock p{ font-size:1em }
#piecemaker_header{ position:fixed; top:0px; left:0px; width:100%; z-index:900; color: #fff; text-align: left}
#banner {background: #006; height: 75px}
#banner a{ padding: 4px 7px; background-color: #67b; text-decoration: none; font-size:11px; color:#ddf; font-weight:bold}
#banner a:hover {background-color: #99c; color: #fff}
#logo{ position:absolute; top:12px; left:10px; font-size: 30px}
#login_div{ position:absolute; top:7px; right:7px; width:500px; height:24px; text-align:right; font-size:11px; color:#eee; z-index:960}
.ugr{ color:#69f}
#menu_strip{ position:absolute; top:52px; left:0px; height:20px; background:#006; z-index:1000}
input.text, input.title, textarea, select {border:1px solid #aaa}
input.text:focus, input.title:focus, textarea:focus, select:focus {border:1px solid #666}
input.text, input.title {padding:2px;}
input.title {font-size:1em}
#info_strip {background: #ddd; padding: 6px; border-bottom:2px solid #999; height:14px; z-index:20; color:#339; font-size:1em}
#info_title{ font-size:1.1em; font-weight:bold}
.message {background: #bfb; padding: 6px; border-bottom:2px solid #0a0; height:18px; z-index:20; color:#060}
.error {background: #fbb; padding: 6px; border-bottom:2px solid #a00; height:18px; z-index:20; color:#600}
.main {padding-top: 0px; padding-bottom: 10px; position: absolute; top: 125px; left:50%; margin-left:-400px; width:900px}
.main a{display:inline;padding:2px;background:#55b;color:#ccc;text-decoration:none;}
.main a:hover{background:#99c;}
.main table {border:1px solid #fff; border-collapse:collapse}
.main tr td{ height: 24px; border:1px; border-style: solid; border-color: #fff; padding:1px 2px 1px 2px}
.row-1{ background:#e6e6e6}
.row-2{ background:#d0d0d0}
.main th{ height: 24px; border:1px solid #ccc; background:#c0c0c0}
.main table a{ background:none; color:#009; text-decoration:underline}
.destroy a {padding:0px; background:#c39;}
.form_div{ position:fixed; left:50%; margin-left:-400px; top:10px; max-height:500px; overflow:scroll; width:800px; border-style:solid; border-color:#339; background:#eef; z-index:2000; padding:6px; overflow:auto}
#scratchpad{ }
.found{ font-weight:bold; background:#0df }
.form_div a {display:inline;padding:4px;background:#55b;color:#ccc;text-decoration:none;font-size:11px;}
.form_div a:hover{color:#fff;background:#99f;}
.form_div strong {background:#f7b}
input[type="submit"] {background:#afa; border:1px solid; color:#000; margin-top: 0px; line-height:1.4em; padding:2px 4px 2px 4px}
input[type="submit"]:hover {background:#34c none repeat scroll 0%; cursor:pointer; color:#fff}
#documentation a {display:inline; background:#fff; color:#33c; text-decoration:none}
#documentation a:hover {color:#fff}
#left_tips{ position:fixed; top:150px; left:10px; width:170px; height:300px; background:#ddd; border: solid 2px #ccc; color:#336; font-size:11px; padding:5px}
#left_tips p {color:#336; font-size:11px}
#color-display{ float:left; width:22px; height:22px}
#colorpicker{ margin-top:3px; border:thin solid #ccc; z-index: 1000}
#colorpicker tr td{ height:0px; width:0px; border-width:1px; padding:8px}
#jump{ position:fixed;top:240px;width:100px;left:10px;height:360px;overflow:scroll; font-size:.85em}
#quick{ position:fixed;top:140px;width:120px;left:5px; font-size:.9em}
#sub_quick{ position:fixed;top:340px;width:120px;left:5px; font-size:.9em}
.update{ position:absolute; top:5px; right:10px; color:#a00 }
#documentation h2{ margin-left:10px}
#documentation h3{ margin-left:20px}
#documentation h4{ margin-left:30px}
#documentation p{ margin-left:40px}
#documentation ul{ margin-left:40px}
.menu {height:22px;font-size:0.85em;position:relative;z-index:2000;border-right:1px solid #006;text-align:center}
.menu ul {padding:0;margin:0;list-style-type:none}
.menu ul ul {width:109px}
.menu li {float:left;width:109px;position:relative}
.menu a {display:block;font-size:.85em;text-decoration:none; color:#fff; width:108px; height:22px; border:1px solid #000; border-width:0px 0px 1px 1px; background:#5555aa; padding-left:0px; line-height:22px}
* html .menu a, * html .menu a:visited {width:119px}
.menu ul ul a.drop, .menu ul ul a.drop:visited {background:#99f url(/images/drop.gif) bottom right no-repeat}
.menu ul ul a.drop:hover{background:#5555aa url(/images/drop.gif) bottom right no-repeat}
.menu ul ul :hover > a.drop {background:#5555aa url(/images/drop.gif) bottom right no-repeat}
.menu ul ul ul a, .menu ul ul ul a:visited {background:#99f}
.menu ul ul ul a:hover {background:#5555aa}
.menu ul ul {visibility:hidden;position:absolute;height:0;top:23px;left:0; width:109px;border-top:0px solid #000}
* html .menu ul ul {top:25px}
.menu ul ul ul{left:119px; top:-1px; width:120px;border-width:1px}
.menu ul ul ul.left {left:-119px}
.menu table {position:absolute; top:0; left:0; border-collapse:collapse}
.menu ul ul a, .menu ul ul a:visited {background:#9999ff; color:#000; height:auto; line-height:1em; padding:5px 10px; width:98px;border-width:0px 1px 1px 1px}
* html .menu ul ul a, * html .menu ul ul a:visited {width:110px}
.menu a:hover, .menu ul ul a:hover{color:#fff; background:#5555aa}
.menu :hover > a, .menu ul ul :hover > a {color:#fff;background:#5555aa}
.menu ul li:hover ul, .menu ul a:hover ul{visibility:visible}
.menu ul :hover ul ul{visibility:hidden}
.menu ul :hover ul :hover ul{visibility:visible}
#disabled a{background:#aac}
#disabled a:hover{color:#000}
#heading a{background:#5555aa;color:#fff}
#heading a:hover{color:#fff}
.ev {width: 95%; line-height: 12px; font-size: 11px; padding: 6px; margin: 4px; position: relative}
.ev strong {background: #f7b; font-size: 1em; line-height: 1em}
.high {border-style: solid; border-width: 3px; border-color: #f00; margin-top: 2px}
.user-high {border-style: solid; border-width: 3px; border-color: #0a0; margin-top: 2px}
.ev p {margin-top: 15px; font-size: 11px}
.evtit {font-weight: bold; font-size: 1.3em; float: left}
.dvd_title {font-size: 1em}
.evts {float: right; margin-left: 1em; font-size: 1em; text-align: right}
.evci {text-align: right; font-size: .96em; color: #000}
.men {float: right; margin-left: 1em; font-size: 1em; line-height: 1.5em; text-align: right}
.summ {float: none}
.men span {font-size: 16px; color: #f66}
.vid-men span {font-size: 16px; color: #f66}
.menn ul {list-style: none; margin-left: -30px; line-height: 18px}
.menn a {color: #ccc; text-decoration: none}
.menn a:hover {color: #ff0}
.menn {position: absolute; top: 200px; left: 200px; width: 140px; background: #202; opacity: .75; padding: 3px; z-index: 1000}
.menid {position: absolute; top: 3px; left: 3px; font-family: courier; color: #ccc}
.menclose {position: absolute; top: 3px; right: 3px; width: 11px; height: 11px; background: #f00}
.evpe {text-align: right; margin-top: 1.5em; margin-right: .5em; font-weight: bold}
.evdes {margin-top: 1em; margin-left: 1.5em}
.sub-scene {padding: 1px; margin-top: .5em; margin-left: 1.5em; background: #c5c5a5}
.sub-discussion {padding: 1px; margin-top: .5em; margin-left: 1.5em; background: #9dd}
.sub-dev_notes {padding: 1px; margin-top: .5em; margin-left: 1.5em; background: #dd8866}
.evedlnk {text-align: right; margin-top: 1.5em; clear: right}
.one-listing{ padding:3px; margin-bottom:3px; margin-right:3px; font-size:11px}
#listing_div{ position:absolute; top:15px;left:500px; width:45%;height:450px; background:#eee;overflow:auto; padding:4px}
.listing-sub {margin-left:10px; margin-top:5px; margin-right:3px; margin-bottom:3px; padding:2px;}
.typesound_cue {background: #ccf; left: -1%; width: 98%}
.typelight_cue {background: #cfc; left: -1%; width: 98%}
.typescene {background: #d5d5c5; left: -1%; width: 98%}
.typedev_notes {background: #ffaa88; left: -1%; width: 98%}
.typemarker {background: #ff7788; left: -1%; width: 50%}
.typeheadline {background: #f99; left: -5%; width: 90%}
.typediscussion {background: #aff; left: -1%; width: 98%}
.typeperformance_notes {background: #caf; left: -1%; width: 98%}
.edit_links {text-align: right}
.note_toggle {text-align: right}
.note {position: relative; left: 0%; width: 99%; padding: 4px; font-size: 11px; line-height: 11px; background-color: #bbb; border: 1px; margin-top: 4px; border-color: #eee; border-style: none}
.noteinfo {font-weight: bold}
.noel {margin-top: 1.5em; text-align: right}
.nono {margin-left: .5em; text-align: left}
.noci {float: right; text-align: right; font-size: .96em; color: #000}
.inline {background: #bbb}
.tag {opacity: .4; background: #333; color: #fff; margin-bottom: 0em; margin-top: .4em; border: 0px; padding: 2px}
.ital {font-style: italic}
.grey {color: #606060}
.s3green {color: #0a0}
.video-label {color: #66d; margin-left: -15px}
.video-inf {color: #66d; font-size:16px}
.videoshow {color: #c00; font-size:12px}
.image {float: left; width: 200px; height: 240px; padding: 5px}
.list-high{ background:#fcc; border: 2px solid #f00}
.list-sub-high{ background:#caa}
#ph {position: absolute; top: 200px; left: 200px; border: 4px solid #333}
a.dgdelp {background: #f00}
.pieceshow {overflow: auto; width: 140px; height: 200px; border: solid 2px #009; padding: 2px; margin-top: 3px}
.piecesshowbox {float: left; margin-right: 6px; margin-bottom: 10px}
.bar {position: absolute; top: 400px; left: 33px; height: 20px; width: 325px; background: #666}
.line {position: absolute; top: 0px; height: 20px; width: 2px; background: #ccc}
.vidlinks {position: absolute; top: 435px; left: 10px}
.video-block {background: #e3e3e3; padding-left: 20px; padding-top: 2px; padding-bottom: 4px; padding-right: 4px; margin-left: -20px; width: 900px; font-size: 18px; color: #333; margin-bottom: 3px}
.run {color: #900}
.vid-men a {font-size: 11px}
.vid-men {float: right; margin-top: -2px; margin-right: 1em; font-size: 1em; line-height: 1.5em; text-align: right}
#nudgers {position: absolute; top: 405px; left: 10px; display: block; width: 520px; height: 24px}
#nudgers a {padding-right: 4px; padding-left: 4px}
#video_info_div {position: absolute; left: 20px; width: 200px; top: 130px}
#video_info_div a {display: inline; padding: 2px; background: #55b; color: #ccc; text-decoration: none}
#video_info_div a:hover {background: #99c}
#rtmpPlayer {position: absolute; padding-left: 5px; top: 15px; display: block; width: 480px; height: 376px}
table a {font-size: .9em}
a#activetab {background: #900}
#quick a {text-decoration: none; padding: 2px; line-height: 22px}
a.sprep {background: #ddc}
a.mprep {background: #ff7788}
a.ssprep {background: #dda}
a.vprep {background: #8f8}
a.vout {background: #f9b}
a.vrel {background: #9af}
 ul#css-tabs {margin: 0 !important; padding: 0; height: 30px; border-bottom: 1px solid #666}
 ul#css-tabs li {float: left; padding: 0; margin: 0; list-style-type: none}
 ul#css-tabs a {float: left; font-size: 13px; display: block; padding: 5px 30px; text-decoration: none; border: 1px solid #666; border-bottom: 0px; height: 18px; background: #eee; color: #777; margin-right: 2px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; position: relative; top: 1px}
ul#css-tabs a:hover {background-color: #F7F7F7; color: #333}
 ul#css-tabs a.current {background-color: #ddd; border-bottom: 2px solid #ddd; color: #000; cursor: default}
 div.css-panes {display: none; border: 1px solid #666; border-width: 0 1px 1px 1px; min-height: 320px; padding: 15px 20px; background-color: #ddd}
.warning {background: #fcc}
.sm a {padding: 0px; background: none; color: #00c; text-decoration: underline}
.men a {display: inline; padding: 2px; background: #55b; color: #ccc; text-decoration: none; font-size: 11px}
.men a:hover {background: #99c}
.small a {padding: 0px; background: none; color: #00c; text-decoration: underline}
a.bolda{ font-size:12; font-weight:bold}
#dates{ position:absolute; left:4px; width:110px; height:220px; overflow:scroll }
#dates a{ font-family:courier; color:#d00; line-height:16px}
#dates a:hover{ background:#dd9}
.short-cut{ font-family:courier }
#events_presentation{ position:absolute; top:20px; width:100%; background:#fff; padding-bottom:20px }
@charset "utf-8";  ul.onglets-hor {margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; background:#AAA url(../images/degrade-menu.png) repeat-x; display:table; border:1px solid #CCC; border-width:1px 0 1px 1px;}
ul.onglets-hor li {margin:0; padding:0; list-style:none; float:left; margin:0; border-left:1px solid #FFF; border-right:1px solid #CCC;}
ul.onglets-hor li a {display:block; background:#333 url(../images/bg-link-onglet.png) top left; color:#000; height:21px; line-height:21px; text-decoration:none; padding:0 6px; font-size:11px; text-transform:uppercase}
ul.onglets-hor li a:hover {background-position:bottom left;}
ul.onglets-hor li ul {margin:1px 0 0 0; padding:10px 0 0 0; background:#E3E3E3 url(../images/bg-first.png) 20px 0 no-repeat}
ul.onglets-hor li ul li {float:none; border:0; border-bottom:1px solid #FFF;}
ul.onglets-hor li ul li a {display:block; background:#E3E3E3; color:#000; border:0; text-transform:none; height:auto; padding:4px 6px; line-height:12px;}
ul.onglets-hor li ul li a:hover {background:#F00 url(../images/arrow-menu.gif) no-repeat right center; color:#FFF;}
ul.onglets-hor li ul li ul {margin:-20px 0 0 0; padding:0 0 0 0; border:1px solid #DDD; border-bottom-width:0}
ul.onglets-hor li ul li ul li{ float:none; border:0; border-bottom:1px solid #DDD;}
ul.onglets-hor li ul li ul li a {display:block; background:#FFF; color:#666; border:0; text-transform:none}
ul.onglets-hor li ul li ul li a:hover {background:#DDD; color:#000;}