.ev{ width:85%; line-height: 12px; font-size:11px; padding:6px; border:4px; border-color:#eee; border-style:solid; position: relative}
.geezer{ font-size:20px; line-height:20px}
.ev strong {background:#f7b; font-size:1em; line-height:1em}
.high {border-width:3px; border-color:#f00; margin-top:2px}
.ev p {margin-top:15px; font-size:11px}
.evtit{ font-weight:bold; font-size:1.3em; float:left}
.dvd_title{ font-size:1em;}
.evts{ float:right; margin-left:1em; font-size:1em; text-align:right}
.evci{ text-align:right; font-size:.96em; color:#000}
.men{ float:right; margin-left:1em; font-size:1em; text-align:right}
#menn ul{ list-style:none; margin-left:-30px; line-height:18px}
#menn a{ color:#ccc; text-decoration:none}
#menn a:hover{ color:#ff0}
#menn{ position:absolute; top:200px; left:200px; width:140px; background:#202; opacity:.75; padding:3px; z-index:1000}
#menid{ position:absolute; top:3px; left:3px; font-family:courier; color:#ccc}
#menclose{ position:absolute; top:3px; right:3px; width:11px; height:11px; background:#f00}
.evpe{ margin-top:1.5em; margin-left:1.5em; font-weight:bold}
.evdes{ margin-top:1em; margin-left:1.5em}
.evedlnk{ text-align:right; margin-top:1.5em; clear:right}
.edit_links{ text-align:right}
.note_toggle{ text-align:right}
.note {position:relative; left: 60%; width: 25%; padding: 4px; font-size:11px; line-height: 12px; background-color: #aaa; border:4px; border-color:#eee; border-style:solid}
.noel{ margin-top:1.5em; text-align:right}
.nono{ margin-left:.5em; margin-top:1.8em; text-align:left}
.noci{ float:right; text-align:right; font-size:.96em; color:#000}
.inline{ background:#aaa}
#searched{ display:none}
.tag {opacity:.4; background:#333; color:#fff; margin-bottom:0em; margin-top:.4em; border:0px; padding:2px}
.ital {font-style: italic}
.grey {color:#606060}
#nudgers a{ padding-right:4px; padding-left:4px}
a#more-desc{ padding:0px; background:none; color:#00c; text-decoration: underline}
a#less-desc{ padding:0px; background:none; color:#00c; text-decoration: underline}
a#show-ev{ padding:0px; background:none; color:#00c; text-decoration: underline}
.image{ float:left; width:200px; height:240px; padding:5px}
#ph{ position:absolute; top:200px; left:200px; border: 4px solid #333}
a.dgdelp{ background:#f00}
.pieceshow{ overflow:auto; width:140px; height:200px; border:solid 2px #009; padding:2px; margin-top:3px }
.piecesshowbox{ float:left; margin-right:6px; margin-bottom:10px }
.bar{ position:absolute;top:400px;left:33px;height:20px;width:325px;background:#666 }
.line{position:absolute;top:0px;height:20px;width:2px;background:#ccc}
.vidlinks{ position:absolute;top:435px;left:10px}
#video_info_div{ position:absolute; left:-200px; width:200px; top:10px}
table a{ font-size:.9em}
a#activetab{ background: #900}