body {
	font-size:10pt;
}
#piecemaker_header{
	display:none;
}
#grid-container{
	display:none;
}
#main {
	background: #fff;
	padding-top: 0px;
	padding-bottom: 10px;
	position: absolute;
	top: 100px;
	
}
#right_side{
	display:none;
}
.track-label{
	display:none;
}
#tm_footnotes_debug{
	display:none;
	position:relative;
	top:2000px;
}

#container li {
	list-style:none;
}
.back-to{
	display:none;
}

/* all rules below are copied from listing.css */



#listing_container{
	position:absolute;
	top:120px;
	left:100px;
	width:1000px;
}
#listing_container ul {
		list-style:none;
	}

/* listing by track */
.track-listblock{
	font-family:courier;
	font-size:1.5em;
	position:relative;
	margin-bottom:15px;
}

.track-listing-time{
	font-size:18px;	
	text-align:right;
}
.track-listing-title{
	font-family:helvetica;
	position:relative;
	font-size:.9em;
	left:2em;
}
.track-listing-cast{
	font-family:helvetica;
	position:relative;
	font-size:.7em;
	font-weight:bold;
	left:11em;
}
.track-listing-desc{
	font-family:times;
	position:relative;
	font-size:.7em;
	left:11em;
}

/*listing by time*/
.time-container{
	width:100%;
	margin-bottom:10px;
	font-size:16px;
}
.time-heading{
	font-family:courier;
	font-size:1.1em;
	font-weight:normal;
	margin-bottom:20px;
}

.time-block-body{
	position:relative;
	clear:both;
	margin-bottom:10px;
	left:3em;
}

.time-listing-track{

}
.time-listing-title{
	font-size:1.2em;
	position:absolute;
	top:0px;
	left:5em;
}
.time-listing-cast{
	position:relative;
	left:7em;
	line-height:2em;
	font-size:.9em;
	font-family:helvetica;
	font-weight:bold;
	width:75%;
}
.time-listing-desc{
	position:relative;
	left:7em;
	font-size:.9em;
	font-family:times;
	width:75%;
}

/* listing by scene */

.scene-container{
	width:100%;
	margin-bottom:50px;
	font-size:16px;
}

.scene-heading{
	font-size:1.3em;
	font-weight:bold;
	margin-bottom:25px;
}

.scene-block-body{
	position:relative;
	clear:both;
	margin-bottom:10px;
}
.bb-{
	left:4%;
}
.bb-cues{
	left:4%;
	width:40%;
	height:30px;
	font-size:1.2em;
	font-weight:bold;
	font-family:times;
}
.bb-light{
	left:7%;
	width:76%;
}
.bb-sound{
	left:70%;
	width:30%;
	font-size:1.1em;
	margin-bottom:0px;
	font-family:courier;
}
.bb-dance{
	left:10%;
	width:74%;
	font-size:1.1em;
}

.scene-block-title{
}
.bt-cues{
	float:left;
}
.bt-light{
font-size:1.1em;
font-weight:bold;
font-style:italic;
float:left;
}
.bt-dance{
}

.scene-block-desc{
	position:relative;
	left:6%;
	font-size:.9em;
	font-family:times;
	width:100%;
}

.bd-cues{
	left:15%;
	font-size:.8em;
	font-style:normal;
	font-weight:normal;
}
.cue-message{
	font-size:.8em;
}

/* listing by time and type */
.time-type-container{
	width:100%;
	margin-bottom:10px;
	font-size:16px;
}
.time-type-heading{
	font-family:courier;
	font-size:1.1em;
	font-weight:normal;
	margin-bottom:20px;
}