body {background-color: #fff; color: #111}
body, p, ol, ul, td {font-family: arial, helvetica, sans-serif; font-size: 13px}
pre {background-color: #fff; padding: 10px; font-size: 11px}
a {color: #000}
a:visited {color: #666}
a:hover {color: #fff; background-color:#000}
.fieldWithErrors {padding: 2px; background-color: red; display: table}
#errorExplanation {width: 400px; border: 2px solid red; padding: 7px; padding-bottom: 12px; margin-bottom: 20px; background-color: #f0f0f0}
#errorExplanation h2 {text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; font-size: 12px; margin: -7px; background-color: #c00; color: #fff}
#errorExplanation p {color: #333; margin-bottom: 0; padding: 5px}
#errorExplanation ul li {font-size: 12px; list-style: square}
div.uploadStatus {margin: 5px}
div.progressBar {margin: 5px}
div.progressBar div.border {background-color: #fff; border: 1px solid grey; width: 100%}
div.progressBar div.background {background-color: #333; height: 18px; width: 0%}
a img {border: none}
#demoblock{ border:3px #339 solid; color:#333399; background:#aaf; padding:8px; padding-top:1px; font-size:1.2em}
#demoblock p{ font-size:1em }
#piecemaker_header{ position:fixed; top:0px; left:0px; width:100%; z-index:900; color: #fff; text-align: left}
#banner {background: #006; height: 75px}
#banner a{ padding: 4px 7px; background-color: #67b; text-decoration: none; font-size:11px; color:#ddf; font-weight:bold}
#banner a:hover {background-color: #99c; color: #fff}
#logo{ position:absolute; top:12px; left:10px; font-size: 30px}
#login_div{ position:absolute; top:7px; right:7px; width:500px; height:24px; text-align:right; font-size:11px; color:#eee; z-index:960}
.ugr{ color:#69f}
#menu_strip{ position:absolute; top:52px; left:0px; height:20px; background:#006; z-index:1000}
input.text, input.title, textarea, select {border:1px solid #aaa}
input.text:focus, input.title:focus, textarea:focus, select:focus {border:1px solid #666}
input.text, input.title {padding:2px;}
input.title {font-size:1em}
#info_strip {background: #ddd; padding: 6px; border-bottom:2px solid #999; height:14px; z-index:20; color:#339; font-size:1em}
#info_title{ font-size:1.1em; font-weight:bold}
.message {background: #bfb; padding: 6px; border-bottom:2px solid #0a0; height:18px; z-index:20; color:#060}
.error {background: #fbb; padding: 6px; border-bottom:2px solid #a00; height:18px; z-index:20; color:#600}
.main {padding-top: 0px; padding-bottom: 10px; position: absolute; top: 125px; left:50%; margin-left:-400px; width:900px}
.main a{display:inline;padding:2px;background:#55b;color:#ccc;text-decoration:none;}
.main a:hover{background:#99c;}
.main table {border:1px solid #fff; border-collapse:collapse}
.main tr td{ height: 24px; border:1px; border-style: solid; border-color: #fff; padding:1px 2px 1px 2px}
.row-1{ background:#e6e6e6}
.row-2{ background:#d0d0d0}
.main th{ height: 24px; border:1px solid #ccc; background:#c0c0c0}
.main table a{ background:none; color:#009; text-decoration:underline}
.destroy a {padding:0px; background:#c39;}
.form_div{ position:fixed; left:50%; margin-left:-400px; top:10px; max-height:500px; overflow:scroll; width:800px; border-style:solid; border-color:#339; background:#eef; z-index:2000; padding:6px; overflow:auto}
#scratchpad{ }
.found{ font-weight:bold; background:#0df }
.form_div a {display:inline;padding:4px;background:#55b;color:#ccc;text-decoration:none;font-size:11px;}
.form_div a:hover{color:#fff;background:#99f;}
.form_div strong {background:#f7b}
input[type="submit"] {background:#afa; border:1px solid; color:#000; margin-top: 0px; line-height:1.4em; padding:2px 4px 2px 4px}
input[type="submit"]:hover {background:#34c none repeat scroll 0%; cursor:pointer; color:#fff}
#documentation a {display:inline; background:#fff; color:#33c; text-decoration:none}
#documentation a:hover {color:#fff}
#left_tips{ position:fixed; top:150px; left:10px; width:170px; height:300px; background:#ddd; border: solid 2px #ccc; color:#336; font-size:11px; padding:5px}
#left_tips p {color:#336; font-size:11px}
#color-display{ float:left; width:22px; height:22px}
#colorpicker{ margin-top:3px; border:thin solid #ccc; z-index: 1000}
#colorpicker tr td{ height:0px; width:0px; border-width:1px; padding:8px}
#jump{ position:fixed;top:240px;width:100px;left:10px;height:360px;overflow:scroll; font-size:.85em}
#quick{ position:fixed;top:140px;width:120px;left:5px; font-size:.9em}
#sub_quick{ position:fixed;top:340px;width:120px;left:5px; font-size:.9em}
.update{ position:absolute; top:5px; right:10px; color:#a00 }
#documentation h2{ margin-left:10px}
#documentation h3{ margin-left:20px}
#documentation h4{ margin-left:30px}
#documentation p{ margin-left:40px}
#documentation ul{ margin-left:40px}
.menu {height:22px;font-size:0.85em;position:relative;z-index:2000;border-right:1px solid #006;text-align:center}
.menu ul {padding:0;margin:0;list-style-type:none}
.menu ul ul {width:109px}
.menu li {float:left;width:109px;position:relative}
.menu a {display:block;font-size:.85em;text-decoration:none; color:#fff; width:108px; height:22px; border:1px solid #000; border-width:0px 0px 1px 1px; background:#5555aa; padding-left:0px; line-height:22px}
* html .menu a, * html .menu a:visited {width:119px}
.menu ul ul a.drop, .menu ul ul a.drop:visited {background:#99f url(/images/drop.gif) bottom right no-repeat}
.menu ul ul a.drop:hover{background:#5555aa url(/images/drop.gif) bottom right no-repeat}
.menu ul ul :hover > a.drop {background:#5555aa url(/images/drop.gif) bottom right no-repeat}
.menu ul ul ul a, .menu ul ul ul a:visited {background:#99f}
.menu ul ul ul a:hover {background:#5555aa}
.menu ul ul {visibility:hidden;position:absolute;height:0;top:23px;left:0; width:109px;border-top:0px solid #000}
* html .menu ul ul {top:25px}
.menu ul ul ul{left:119px; top:-1px; width:120px;border-width:1px}
.menu ul ul ul.left {left:-119px}
.menu table {position:absolute; top:0; left:0; border-collapse:collapse}
.menu ul ul a, .menu ul ul a:visited {background:#9999ff; color:#000; height:auto; line-height:1em; padding:5px 10px; width:98px;border-width:0px 1px 1px 1px}
* html .menu ul ul a, * html .menu ul ul a:visited {width:110px}
.menu a:hover, .menu ul ul a:hover{color:#fff; background:#5555aa}
.menu :hover > a, .menu ul ul :hover > a {color:#fff;background:#5555aa}
.menu ul li:hover ul, .menu ul a:hover ul{visibility:visible}
.menu ul :hover ul ul{visibility:hidden}
.menu ul :hover ul :hover ul{visibility:visible}
#disabled a{background:#aac}
#disabled a:hover{color:#000}
#heading a{background:#5555aa;color:#fff}
#heading a:hover{color:#fff}
.small a {padding: 0px; background: none; color: #00c; text-decoration: underline; font-size:12px;}
.a-marker{ background:#ccc; margin-bottom:3px; width:230px; padding-left:3px; font-size:18px; color:#000}
.high{ background:#fcc; color:#F00}