.listing-dance{
	color:#000;
}
.listing-music{
	color:#66f;	
}
.listing-lighting{
	color:#6f6;	
}
.listing-bill{
	color:#f00;
}





.listing-time{
	font-size:18px;	
}
.listing-title{
	position:relative;
	font-size:.9em;
	left:2em;
	
}
.listing-desc{
	position:relative;
	font-size:.8em;
	left:8em;
}
.listblock{
	font-family:helvetica;
	font-size:16px;
	position:relative;
}
#lisst ul {list-style:none;
	color:#ccc;
	}