.menu {font-family: arial, sans-serif; width:106px; height:150px; position:relative; margin:0; font-size:11px; margin:50px 0;}
.menu ul li a, .menu ul li a:visited {display:block; text-decoration:none; color:#000; width:104px; height:20px; text-align:center; border:1px solid #fff; border-width:1px 1px 0 0; background:#c9c9a7; line-height:19px; font-size:11px;}
.menu ul {padding:0; margin:0;list-style-type: none}
.menu ul li {float:left; margin-right:1px; position:relative;}
.menu ul li ul {display: none;}
.menu ul li:hover a {color:#fff; background:#b3ab79;}
.menu ul li:hover ul {display:block; position:absolute; top:0; left:105px; width:105px;}
.menu ul li:hover ul li a.hide {background:#dfc184; color:#000;}
.menu ul li:hover ul li:hover a.hide {width:150px;}
.menu ul li:hover ul li ul {display: none;}
.menu ul li:hover ul li a {display:block; background:#b3ab79; color:#000; width:150px;}
.menu ul li:hover ul li a:hover {background:#dfc184; color:#000;}
.menu ul li:hover ul li:hover ul {display:block; position:absolute; left:151px; top:0; color:#000;}
.menu ul li:hover ul li:hover ul li a {display:block; width:200px; background:#dfc184; color:#000;}
.menu ul li:hover ul li:hover ul li a:hover {background:#bd8d5e; color:#fff;}
#info {position:relative;}
p.bold {padding-left:15px; color:#c00;}
a.linkup {position:relative;}
a.buttonup {position:absolute; top:200px; left:650px; border:0;}
a.buttonup img {border:0;}
.gleft {float:left; margin:25px 0 10px 0;}
.gright {float:right; margin:25px 5px 10px 0;}
.grc {margin:20px 0 0 10px;}
.menu {height:24px; font-size:0.85em; position:relative; z-index:800;border-right:1px solid #006;text-align:center;}
* html .menu {width:1001px; w\idth:1000px;}
.menu ul {padding:0;margin:0;list-style-type:none;}
.menu ul ul {width:129px;}
.menu li {float:left;width:129px;position:relative;}
.menu a, .menu a:visited {display:block;font-size:11px;text-decoration:none; color:#fff; width:128px; height:24px; border:1px solid #000; border-width:0px 0px 1px 1px; background:#5555aa; padding-left:0px; line-height:29px;}
* html .menu a, * html .menu a:visited {width:149px; w\idth:118px;}
.menu ul ul a.drop, .menu ul ul a.drop:visited {background:#99f url(/images/drop.gif) bottom right no-repeat;}
.menu ul ul a.drop:hover{background:#5555aa url(/images/drop.gif) bottom right no-repeat;}
.menu ul ul :hover > a.drop {background:#5555aa url(/images/drop.gif) bottom right no-repeat;}
.menu ul ul ul a, .menu ul ul ul a:visited {background:#99f;}
.menu ul ul ul a:hover {background:#5555aa;}
.menu ul ul {visibility:hidden;position:absolute;height:0;top:25px;left:0; width:129px;border-top:0px solid #000;}
* html .menu ul ul {top:30px;t\op:31px;}
.menu ul ul ul{left:129px; top:-1px; width:129px;border-width:1px;}
.menu ul ul ul.left {left:-129px;}
.menu table {position:absolute; top:0; left:0; border-collapse:collapse;;}
.menu ul ul a, .menu ul ul a:visited {background:#9999ff; color:#000; height:auto; line-height:1em; padding:5px 10px; width:108px;border-width:0px 1px 1px 1px;}
* html .menu ul ul a, * html .menu ul ul a:visited {width:130px;w\idth:108px;}
.menu a:hover, .menu ul ul a:hover{color:#fff; background:#5555aa;}
.menu :hover > a, .menu ul ul :hover > a {color:#fff;background:#5555aa;}
.menu ul li:hover ul, .menu ul a:hover ul{visibility:visible}
.menu ul :hover ul ul{visibility:hidden;}
.menu ul :hover ul :hover ul{ visibility:visible;}
#disabled a{ background:#aac}
#disabled a:hover{color:#000;}
#heading a{ background:#5555aa; color:#fff}
#heading a:hover{color:#fff;}
body {font-size:.6em}
#piecemaker_header{ display:none}
#jump {display:none;}
#quick {display:none;}
#main {background: #fff; padding-top: 0px; padding-bottom: 10px; position: absolute; top: 40px}
#tm_footnotes_debug{ display:none; position:relative; top:2000px}
.evpe a {color:#000}
.ev{ width:85%; line-height: 1.1em; font-size:1em; padding:4px; position: relative; margin-top:30px; clear:left}
.ev a{ text-decoration:none}
.ev strong {background:#f7b}
.typelight_cue {left: 2%; width: 98%; color:#090}
.typesound_cue {left: 2%; width: 98%; color:#009}
.typescene {left: 2%; width: 98%}
.typediscussion {left: 2%; width: 98%}
.typesub_scene {width: 95%; left:5%; font-style:italic}
.high{ background:#ffe5e5; margin-top:2px}
.typevideo_in {display:none; left:-30px; width: 150px; background-color: #fff; border:3px; border-color:#fcf; border-style:solid}
.typedvd_timecode {left:-15px; width: 150px; background-color: #fff}
.typevideo_out {display:none; left:-30px; width: 150px}
.typeheadline {width:100%; left:0%; color:#f00; margin-top:15px}
#edit_links{ text-align:right}
#note_toggle {text-align:right}
.note {position:relative; left: 20%; width: 25%; padding: 4px; line-height: 12px; border:2px; border-color:#aaa; border-style:solid; margin-bottom:2px}
#dv_note_creation_info{ float:right; text-align:right}
.note{ display:none}
.evtit{ font-family:arial; font-weight:bold; font-size:1.4em; width:500px; line-height:1.2em; float:left; clear:left}
.dvd_title{ font-size:1em;}
.evts{ top:0px; right:1px; width:100px; float:right; font-size:1em; text-align:right; clear:right}
.evci{ top:0px; width:240px; right:150px; float:right; text-align:right; font-size:1em}
.evpe{ font-family:arial; font-weight:bold; font-size:1.1em; margin-top:1.5em; margin-left:1.5em; width:90%; clear:left}
.evex{ font-family:arial; font-size:1.1em; margin-top:1.8em; margin-left:1.6em; font-weight:bold}
.evdes{ font-family:times serif; font-size:1.1em; margin-top:2em; margin-left:2em; width:90%}
.noel{ display:none; margin-top:1.5em; text-align:right}
.evedlnk{ display:none; text-align:right; margin-top:1.5em; clear:right}
.tag{ display:none}
#searched{ font-size:1.5em}
.jump{ display:none}
.listing-dance{ color:#000}
.listing-music{ color:#66f}
.listing-lighting{ color:#6f6}
.listing-bill{ color:#f00}
.listing-time{ font-size:18px}
.listing-title{ position:relative; font-size:.9em; left:2em}
.listing-desc{ position:relative; font-size:.8em; left:8em}
.listblock{ font-family:helvetica; font-size:16px; position:relative}
#lisst ul {list-style:none; color:#ccc}