<h2>Edit <%= @scene.title %></h2>
<%- form_tag({ :controller => 'assemblages', :action => "update_scene",:id => @scene.id }, :class => 'ajax', :id => @scene.id) do -%>
<%= text_field 'scene', 'title'%>
  <%= submit_tag 'submit' %> <%= link_to 'Cancel',{:controller => 'assemblages', :action => 'present', :id => session[:assemblage_id]}, :class => 'cancel' %>
<%- end -%>