<%- @grouped_blocks.each do |bloc| -%>
	
jQuery("#block-<%= bloc.id-%>").remove();
jQuery("#tip-<%= bloc.id-%>").remove();
jQuery("#track-cont-<%= bloc.track.id-%>").append('<%= escape_javascript(render(:partial => "assemblages/one_block", :locals => {:block => bloc} )) -%>');

<%- end -%>