<h2>New Scene in "<%= @assemblage.title %>"</h2>
<% form_tag({:controller => 'assemblages',:action => 'create_scene',:id => @assemblage.id}, :class => 'ajax') do %>
  <p><label for="scene_title">Title:</label>
  <%= text_field 'scene', 'title'  %></p>
  <%= submit_tag "Create" %> <%= link_to 'Cancel',{:controller => 'assemblages', :action => 'present', :id => session[:assemblage_id]}, :class => 'cancel' %>
<% end %>
