<%= link_to "List Database",:action => 'index', :id => current_configuration.default_piece_id %><br /><br />

<%- if @error -%>
<h2><%= @error %></h2>
<% end -%>
<%= @folder_list.length %> files in archive folder<br />
<%= @db_list.length %> files listed in the database<br />
<%- if @missing_from_db.length > 0 || @missing_from_folder.length > 0 %>
<h3>The following <%= @missing_from_db.length %> files are in the archive folder and missing from the database</h3>
<%- @missing_from_db.sort.each do |missing| -%>
<%= missing -%><br />
<% end -%>
<br />
<h3>The following <%= @missing_from_folder.length %> files are in the database and missing from the archive folder</h3>
<table>
  <tr>
  <th style = "width:40px">id</th>
  <th style = "width:100px">title</th>
  <th style = "width:100px">Existing Versions</th>
  <th>Pieces</th>
	<th style = "width:100px">Recording Date</th>
	<th colspan = '3'>Actions</th>
  </tr>
  <%- @missing_from_folder.sort_by{|x| x.id}.each do |video| -%>
  <tr>
  <td><%= video.id %></td>
  <td><%= video.title %></td>
  <td><%= video.show_existing_versions %></td>
  <td><%= video.subjects.map{|x| x.title}.join(' ') %></td>
  <td><%= video.created_at %></td>
  <td><%= link_to "Show", :action => 'show',:id => video.id %></td>
  <td><%= link_to "Edit", :action => 'edit',:id => video.id %></td>
  <td><%= link_to "Destroy" %></td>
  </tr>
  
  <% end -%>
</table>
<br />
<%= link_to "Add New Archives", :action => 'fill_archive_db', :add_entries => 'true' %>
<%= link_to "Delete Old", :action => 'fill_archive_db', :delete_from_db => 'true' %>
<%= link_to "Do Both", :action => 'fill_archive_db', :do_both => 'true' %>
<% end -%>