%h2 Snapshot List
= universal_table(@snapshots,
  {:columns =>[ {'ID' => 'id',:sort => 'id'},
  {'Created' => 'created_at'},
  {'Length' => 'snapshot.length'}],
  :actions => [ {'Destroy' => "/video/destroy_snapshot"},
  {'Show' => '/video/show_snapshot$'}]})

- if @error
  %h2 No File Access
- else
  = link_to 'Save Current State', :action => 'list_snapshots', :force => true
  %h2 Missing From Snapshot
  %h3
    = @missing_from_snapshot.length

  - @missing_from_snapshot.each do |missing|
    = missing
    %br/

  %h2 Missing From Archive
  %h3
    = @missing_from_archive.length
  - @missing_from_archive.each do |missing|
    = missing
    %br/
  
  
