$('#form_div').hide();
$('#listing_div').html("<%= escape_javascript(render(:partial => '/video/listing_div', :locals => {:video => @video})) -%>");
$('#video_info_div').replaceWith("<%= escape_javascript(render(:partial => '/video/video_info_div', :locals => {:video => @video})) -%>");
filter_listing_div();
filter_listing_type();