<h1>Editing piece</h1>

<% form_tag( {:action => 'update', :id => @piece},:class => 'check') do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save Changes' %> <%= link_to 'Cancel',{:action => 'show', :id => @piece},:class => 'cancel' %>
<% end %>
