<ul class = ''>
  <%= render :partial => '_shared/menu_home' %>
  <%- if (current_user)-%>
    <%= render :partial => '_shared/menu_piece' %>
    <%- if current_piece -%>
    <%= render :partial => '_shared/menu_current_piece' %>
    <% end -%>
    <%- if((params[:controller] == 'capture')&&(params[:action]=='present'))-%>
     <%= render :partial => '_shared/menu_show' %>
     <%- if user_has_right?('create_events')-%>
      <%= render :partial => '_shared/menu_create_new' %>
     <% end %>
    <%- end -%>
    <%- if((params[:controller] == 'assemblages'))-%>
     <%- if(%w[present listing listing_by_scene listing_by_time listing_by_time_and_type listing_by_track].include?(params[:action])) -%>
     <%= render :partial => '_shared/menu_assemblage' %>
     <%- end -%>
    
     <%- if((params[:action]=='present')) -%>
      <%= render :partial => '_shared/menu_scale',:locals => {:assemblage => @assemblage} %>
      <%= render :partial => '_shared/menu_group',:locals => {:assemblage => @assemblage} %>
      <%= render :partial => '_shared/menu_blocklists' %>
      <%= render :partial => '_shared/menu_ass_search' %>
     <%- end -%>
    <%- end -%>
    <%= render :partial => '_shared/menu_video' %>
     <%= render :partial => '_shared/menu_admin' %>
  <%- end -%>
</ul>