- if logged_in?
  %span.ugr User: 
  = current_user.login
  &nbsp;
  %span.ugr Role:
  = current_user.role_name
  &nbsp;
  -if user_has_right?('group_admin')
    <form id = 'hoo' action = '/configuration/change_location' method = 'post'>
    = put_location_select
    </form><br />
  -else
    %span.ugr Location:
    = current_configuration.location.location
  &nbsp;&nbsp;
  = link_to 'Logout', '/logout'
  %br/
- else
  - form_tag :controller => 'usersessions', :action => 'create' do
    Name:
    = text_field_tag :login, params[:name], :size => 8, :class => "text"
    Password:
    = password_field_tag :password, params[:password], :size => 8, :class => "text"
    = submit_tag "Login"
    %br/
    = check_box_tag 'remember_me','1',false
    Remember Me&nbsp;&nbsp;&nbsp;&nbsp;
