<%- menu_first_level('Admin') do -%>
<%- menu_second_level('Your Stuff',"#{current_user.login}") do -%>
    <li><%= link_to "#{current_user.messages.length} Messages", :controller => "message",:action => 'index', :id => current_user.id -%></li>
    <li><%= link_to 'Settings', '/pref' , :class => 'get' -%></li>
<%- end -%>
<%- if user_has_right?('group_admin') -%>

    <li><%= link_to "Users", :controller => "users" -%></li>
    <li><%= link_to "Performers", :controller => "performers" -%></li>
    <li><%= link_to "Configuration Info", :controller => "configuration", :action => 'show' -%></li>
    <li><%= link_to 'Event Types', :controller => "event_types", :action => 'list' -%></li>
    <li><%= link_to 'Role Matrix', :controller => "administration", :action => 'role_matrix' -%></li>
    <%- if user_has_right?('group_admin') -%>
    <%- menu_second_level('Video Maintenance','Video Maintenance') do -%>
      <li><%= link_to 'Videos Without a Piece (Orphans)', '/video/index' -%></li>
      <li><%= link_to 'Upload Entire Compressed Folder', '/video/upload_compressed_to_s3' -%></li>
      <li><%= link_to 'Find Possible Claimings', '/video/find_possible_claimings' -%></li>
      <li><%= link_to 'Check Archive DB',:controller => 'video', :action => "fill_archive_db"%></li>
      <li><%= link_to 'List S3', :controller => "administration", :action => 'list_s3' -%></li>
      <li><%= link_to 'Delayed Jobs', :controller => "video", :action => 'index_delayed_jobs' -%></li>
      <li><%= link_to 'Snapshots', :controller => "video", :action => 'list_snapshots',:id => nil -%></li>
    <% end %>
    
    <%- menu_second_level('Last 50','Last 50') do -%>
    
      <li><%= link_to 'Events', :controller => "events", :action => 'list',:id => nil -%></li>
      <li><%= link_to 'Sub Scenes', :controller => "sub_scene", :action => 'list',:id => nil -%></li>
      <li><%= link_to 'Event Trash', :controller => "events", :action => 'list_trash',:id => nil -%></li>
      <li><%= link_to 'Videos', :controller => "video", :action => 'list',:id => nil -%></li>
      <li><%= link_to 'Video Recordings', :controller => "video", :action => 'list_video_recordings',:id => nil -%></li>
      <li><%= link_to 'Blocks', :controller => "blocks", :action => 'list',:id => nil -%></li>
      <li><%= link_to 'Blocklists', :controller => "blocklists", :action => 'list_all',:id => nil -%></li>
      <li><%= link_to 'Photos', :controller => "photos", :action => 'index',:id => nil -%></li>
      <li><%= link_to 'Notes', :controller => "notes", :action => 'list' -%></li>
      <li><%= link_to 'Groups', :controller => "groups", :action => 'list' -%></li>
      <li><%= link_to 'Documents', :controller => "documents", :action => 'list' -%></li>
      <li><%= link_to 'Logins', :controller => "administration", :action => 'list_logins' -%></li>
      <li><%= link_to 'Messages', :controller => "message", :action => 'list_all' -%></li>
    <%- end -%>
    <li><%= link_to 'Main Admin', :controller => "administration", :action => 'main' -%></li>    
  
    <%- end -%>
    <% end %>
<%- end -%>