<li><a>Blocks</a>
	<ul>
    <li><%= link_to('Select All', {:controller => 'assemblages', :action=> 'group_all', :id => session[:assemblage_id]},:class => 'post') %></li>
    <li><%= link_to('Unselect All', {:controller => 'assemblages', :action=> 'ungroup_all', :id => session[:assemblage_id]},:class => 'post') %></li>
    <li><%= link_to('Select All After', {:action => 'group_after',:id => assemblage.id}, :class => 'get')%></li>
    <li><%= link_to('Expand Group 10%',{ :controller => 'assemblages', :action=> 'group_actions', :id => session[:assemblage_id],:task => 'expand',:amount => '110'}, :class => 'post') %></li>
    <li><%= link_to('Expand Group 50%',{ :controller => 'assemblages', :action=> 'group_actions', :id => session[:assemblage_id],:task => 'expand',:amount => '150'}, :class => 'post') %></li>
    <li><%= link_to('Shrink Group 10%',{ :controller => 'assemblages', :action=> 'group_actions', :id => session[:assemblage_id],:task => 'expand',:amount => '90'}, :class => 'post') %></li>
    <li><%= link_to('Shrink Group 50%',{ :controller => 'assemblages', :action=> 'group_actions', :id => session[:assemblage_id],:task => 'expand',:amount => '50'}, :class => 'post') %></li>
    <li><%= link_to('Align Group to First',{ :controller => 'assemblages', :action=> 'group_actions', :id => session[:assemblage_id],:task => 'align',:target => 'first'}, :class => 'post') %></li>
    <li><%= link_to('Align Group to Last',{ :controller => 'assemblages', :action=> 'group_actions', :id => session[:assemblage_id],:task => 'align',:target => 'last'}, :class => 'post') %></li>
    <li><%= link_to('Align Group to Nearest 15 Seconds',{ :controller => 'assemblages', :action=> 'group_actions', :id => session[:assemblage_id],:task => 'round',:target => '15'}, :class => 'post') %></li>
    <li><%= link_to('Align Group to Nearest Minute',{ :controller => 'assemblages', :action=> 'group_actions', :id => session[:assemblage_id],:task => 'round',:target => '60'}, :class => 'post') %></li>
	</ul>
</li>
