<%- menu_first_level('Block List') do -%>
    <li><%= link_to('Hide Block List Panel', {:controller => 'assemblages', :action=> 'present', :id => params[:id], :showpanel => 'false'},:class => 'hide_blocklist') %></li>
    <li><%= link_to('Show Block List Panel',{ :controller => 'assemblages', :action=> 'present', :id => params[:id], :showpanel => 'true'},:class => 'show_blocklist') %></li>
    <li><%= link_to('Edit Block List', :controller => 'blocklists', :action=> 'list') %></li>
<%- end -%>