<%- menu_first_level('Performers') do -%>
	  <%- if session[:flatten] == true-%>
	  <li><%= link_to "Don't Flatten", :controller => 'assemblages', :action => 'present', :id => @assemblage.id, :flatten => 'false' %></li>
	  <%- else -%>
	  <li><%= link_to "Flatten", :controller => 'assemblages', :action => 'present', :id => @assemblage.id, :flatten => 'true' %></li>
	  <%- end -%>
	  <li><%= link_to "Show All", :controller => 'assemblages', :action => 'present', :id => @assemblage.id %></li>
	  <li><%= link_to "Performer Filter", {:controller => 'assemblages', :action => 'performer_filter', :id => @assemblage.id},:class => 'get' %></li>
<%- end -%>