<%- menu_first_level('Assemblages') do -%>
    <li><%= link_to('List Assemblages', :controller => 'assemblages', :action=> 'list', :id => @assemblage.piece_id)%></li>
    <li><%= link_to('List Tracks', :controller => 'tracks', :action=> 'index', :id => @assemblage.id)%></li>
    <li><%= link_to('Edit This Assemblage', :controller => 'assemblages', :action=> 'edit',:id => @assemblage.id) %></li>
    <li><%= link_to 'Make Copy of this Assemblage', {:controller => 'assemblages', :action=> 'save_as_version', :id => @assemblage.id, :return_to => 'use'}, :method => :post  %></li>
    <li><%= link_to 'Clear Undos', {:controller => 'assemblages', :action=> 'clear_undo_cue', :id => @assemblage.id, :return_to => 'use'}, :method => :post  %></li>
     
     <%- menu_second_level('View Assemblage as Listing','Listing by Track') do -%>
          <li><%= link_to('List all Blocks', :controller => 'assemblages', :action=> 'listing_by_track',:id => @assemblage.id,:performer => 'Everyone') %></li>
          <%- @assemblage.piece.performers.sort_by{|x| x.short_name}.each do |performer|-%>
          <li><%= link_to("#{performer.short_name}", :controller => 'assemblages', :action=> 'listing_by_track',:id => @assemblage.id,:performer => "#{performer.short_name}") %></li>
          <%- end -%>
     <%- end -%>
          <li><%= link_to('Listing by Time', :controller => 'assemblages', :action=> 'listing_by_time',:id => @assemblage.id,:performer => 'Everyone') %></li>
          <li><%= link_to('Listing by Scene', :controller => 'assemblages', :action=> 'listing_by_scene',:id => @assemblage.id,:performer => 'Everyone') %></li>
          <li><%= link_to('Listing by Time and Type', :controller => 'assemblages', :action=> 'listing_by_time_and_type',:id => @assemblage.id,:performer => 'Everyone') %></li>
          <li><%= link_to('Config', {:controller => 'assemblages', :action => 'config'},:class => 'get') %></li>
          <li><%= link_to('Generate', :controller => 'assemblages', :action => 'generate',:id => @assemblage.id) %></li>
          <li><%= link_to('Enhance', :controller => 'assemblages', :action => 'enhance',:id => @assemblage.id) %></li>
          <li><%= link_to('Clear', :controller => 'assemblages', :action => 'clear',:id => @assemblage.id) %></li>
          <li><%= link_to('Report', :controller => 'assemblages', :action => 'report',:id => @assemblage.id) %></li>
          <li><%= link_to('Quick Capture', :controller => 'assemblages', :action=> 'quick_cap',:id => @assemblage.id) %></li>

     

<%- end -%>