<li><a>Scale</a>
	<ul>
	      <li><%= link_to('1/6', {:controller => 'assemblages', :action=> 'present', :id => assemblage.id, :ratio => '6'},{:style => "#{'background:#aac' if (session[:scale] == 6)}"}) %></li>
    <li><%= link_to('1/4', {:controller => 'assemblages', :action=> 'present', :id => assemblage.id, :ratio => '4'},{:style => "#{'background:#aac' if (session[:scale] == 4)}"}) %></li>
    <li><%= link_to('1/2', {:controller => 'assemblages', :action=> 'present', :id => assemblage.id, :ratio => '2'},{:style => "#{'background:#aac' if (session[:scale] == 2)}"}) %></li>
    <li><%= link_to('1X', {:controller => 'assemblages', :action=> 'present',:id => assemblage.id, :ratio => '1'},{:style => "#{'background:#aac' if (session[:scale] == 1)}"}) %></li>
    <li><%= link_to('2X',{ :controller => 'assemblages', :action=> 'present',:id => assemblage.id, :ratio => '-2'},{:style => "#{'background:#aac' if (session[:scale] == -2)}"}) %></li>
    <li><%= link_to('4X',{ :controller => 'assemblages', :action=> 'present',:id => assemblage.id, :ratio => '-4'},{:style => "#{'background:#aac' if (session[:scale] == -4)}"}) %></li>
    <li><%= link_to('8X',{ :controller => 'assemblages', :action=> 'present',:id => assemblage.id, :ratio => '-8'},{:style => "#{'background:#aac' if (session[:scale] == -8)}"}) %></li>
    <li><span id = 'heading'><a>Track Height</a></span></li>
    <li><%= link_to('30',{ :controller => 'assemblages', :action=> 'present',:id => assemblage.id, :track_height => '30'},{:style => "#{'background:#aac' if (session[:track_height] == 30)}"}) %></li>
    <li><%= link_to('60', {:controller => 'assemblages', :action=> 'present',:id => assemblage.id, :track_height => '60'},{:style => "#{'background:#aac' if (session[:track_height] == 60)}"}) %></li>
    <li><%= link_to('90', {:controller => 'assemblages', :action=> 'present',:id => assemblage.id, :track_height => '90'},{:style => "#{'background:#aac' if (session[:track_height] == 90)}"}) %></li>

    <li><span id = 'heading'><a >Time Display</a></span></li>
    <li><%= link_to('Hours:Minutes',{ :controller => 'assemblages', :action=> 'present',:id => assemblage.id, :time_display => 'hm'},{:style => "#{'background:#aac' if (session[:time_display] == 'hm')}"}) %></li>
    <li><%= link_to('Minutes:Seconds',{ :controller => 'assemblages', :action=> 'present',:id => assemblage.id, :time_display => 'ms'},{:style => "#{'background:#aac' if (session[:time_display] == 'ms')}"}) %></li>
	</ul>
</li>