
- menu_first_level(truncate(current_piece.title,:length => 15)) do
  %li= link_to "Show Details", :controller => "pieces", :action => 'show', :id => session[:pieceid]
  %li= link_to "List Assemblages", :controller => :assemblages, :action => :list, :id => current_piece.id
  %li= link_to 'List Assets', :controller => 'documents', :action => 'list_by_piece', :id => session[:pieceid]
  %li= link_to 'List Meta Infos', :controller => 'meta_infos', :action => 'list_by_piece', :id => session[:pieceid]
  %li= link_to 'Photo Gallery', :controller => 'photos', :action => 'gallery',:id => session[:pieceid]
  %li= link_to 'New Asset', {:controller => 'documents', :action => 'new', :id => session[:pieceid]}
  %li= link_to 'New Meta Info', :controller => 'meta_infos', :action => 'new', :id => session[:pieceid]
  - if user_has_right?('administer_events')
    - menu_second_level('Video List','Video') do
      %li= link_to 'All Videos', :controller => 'video', :action => 'index', :id => session[:pieceid]
      %li= link_to 'Rehersal Videos', :controller => 'video', :action => 'index', :id => session[:pieceid],:perf => 'reh'
      %li= link_to 'Performance Videos', :controller => 'video', :action => 'index', :id => session[:pieceid],:perf => 'perf'
  %li= link_to 'Add Highlighted to Blocklist', :controller => "capture", :action => 'add_highlighted_to_blocklist'
  -if user_has_right?('administer_events')
    %li= link_to 'Raw Event List', :controller => 'events', :action => 'list', :id => session[:pieceid]
  %li= link_to('New Performance',{:action => 'new_performance',:id => session[:pieceid]}, :class => 'get')
  -if Configuration.app_is_local?
    %li= link_to("Upload Days Videos",{:controller => 'video',:action => 'process_days_videos',:id => session[:pieceid]},:class => 'process')
    %li= link_to("Make clips of Highlighted",{:controller => 'video',:action => 'make_clips',:id => session[:pieceid]},:class => 'dg')
  %li= link_to('Marker List',{:controller => 'capture', :action => 'marker_list',:id => session[:pieceid]})
  



