<%= error_messages_for 'block' %>
<!--[form:block]-->
<p><label for="block_title">Title:</label>
<%= text_field 'block', 'title'  %>
<label for="block_start_time">start in seconds: </label>
<%= text_field 'block', 'start_time', :size => 5  %><label for="block_duration"> duration in seconds: </label>
<%= text_field 'block', 'duration', :size => 5  %>
<br /><br />
<%= check_box_tag 'block[dependent]','1',@block.dependent -%> Dependent on parent?
&nbsp;&nbsp;Scene: 
<%= put_scene_select(@block) %>
<p>
<label for="block_description">Description</label><br/>
<%= text_area 'block', 'description', :size => '60x4' %></p>
<%= color_picker('@block','div_class') unless @block.assemblage.constrained -%>
<br />
<%- if block_needs_cast? -%>
Cast:<br />
<%= checklist('block[cast][]',current_piece.performers,['short_name'],@block.cast) -%>
<br />
<%- end -%>

<!--[eoform:block]-->

