<h2><%= @create ? 'New' : 'Editing' %> Block in <%= @block.track.title %></h2>
<% form_tag({ :controller => 'assemblages', :action => 'update_block', :id => @block }, :class => 'ajax', :id => @block.id) do %>
<%= hidden_field_tag 'create', @create -%>
<%- if @double_click -%>
<h3>Select a Block from the List.</h3>
<%= select_tag('bl',blocklists_for_select) %>
<h3>Or create a new Block</h3>
<%- end -%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save' %>
  <%- if @create -%>
  <%= link_to 'Cancel',{:controller => 'blocks', :action => 'cancel_add_from_click', :id => @block.id}, :class => 'cancel_new' %>
  <%- else -%>
  <%= link_to 'Cancel',params[:came_from], :class => 'cancel' %>
  <%- end -%>
<% end %>
<br />
