<h1>Listing blocks</h1>
<%= will_paginate @blocks %><br />
<%= universal_table(
  @blocks,{
  :columns => [{'ID' => 'id'},
                {'Title' => 'title'},
                {'Cast' => 'cast_list'},
                {'Start' => 'start_time'},
                {'Duration' => 'duration'},
                {'Z index' => 'z_index'},
                {'Grouped' => 'grouped'}
    ],
  :actions => [  {'Show' => '/blocks/show'},
                  {'Edit' => '/blocks/edit'},
                  {'Destroy' => '/blocks/destroy'}
    ],
  :admin => {'Edit' => 'create_events','Destroy'=>'create_events'},
  :truncate => 15
  })
  %>
<br />

<%= link_to 'New block', :action => 'new' %>
