<% for column in Block.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @block.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @block %> |
<%= link_to 'Back', :action => 'list' %>
