Use Auto Video: <%= check_box_tag 'configuration[use_auto_video]', 1, @configuration.use_auto_video %>Yes / No<br />
S3 Sub Folder:<%= text_field 'configuration','s3_sub_folder',:size => 8 %>
<br /><br />
