<h1>Listing Meta Infos for <%= current_piece.title %></h1>

<table>
  <tr>
  <% for column in MetaInfo.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  <th colspan = '3'>Actions</th>
  </tr>
  
<% for meta_info in @meta_infos %>
  <tr>
  <% for column in MetaInfo.content_columns %>
    <td><%=h meta_info.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => meta_info %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => meta_info %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => meta_info }, :confirm => 'Are you sure?', :method => :post %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New Meta Info', :action => 'new' %><br /><br />

<%= link_to "Back to #{current_piece.title}",:controller => 'capture', :action => 'present', :id => session[:pieceid] %>
