<h1>New Meta Info for <%= current_piece.title %></h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list_by_piece', :id => session[:pieceid] %>
