<%= error_messages_for 'blocklist' %>

<!--[form:blocklist]-->
<p><label for="blocklist_title">Title: </label>
<%= text_field 'blocklist', 'title'  %></p>
<b>Type: </b><%= select_tag 'blocklist[event_type]',options_for_select(TRACK_TYPES.map{|x| x[:class]}.uniq.reject{|x| x=='scene'},@blocklist.event_type)-%><br />
<%= check_box_tag 'blocklist[dependent]','1',@blocklist.dependent -%> Make Child Blocks Dependent on parent?
<%= display_duration_select('Duration: ',@blocklist.duration) %>

<%= color_picker('@blocklist','div_class') unless  @assemblage.constrained -%>
Cast:<br />
<%= checklist('blocklist[cast][]',current_piece.performers,['short_name'],@blocklist.cast) -%>
 <br />
<!--[eoform:blocklist]-->

