jQuery('#right_side').html("<%= escape_javascript(render(:partial => '/assemblages/right_side', :locals => {:assemblage => @assemblage})) -%>");
jQuery('#form_div').hide();
jQuery('#form_div').html('');