<h2>Editing <%= @blocklist.title %></h2>

<% form_tag({:controller => 'assemblages',:action => 'update_blocklist', :id => @blocklist}, :class => 'ajax') do %>
  <%= render :partial => 'form' %>
  <%= hidden_field_tag :from, params[:from] %>
  <%= submit_tag 'Edit' %>&nbsp;&nbsp;<%= link_to 'Back',params[:came_from],:class => 'cancel' %>
<% end %>

