<h1>Listing blocklists in <%=h(current_piece.title) if current_piece %></h1>

<table>
  <tr>
    <th>id</th>
    <th>Piece id</th>
    <th>Title</th>
    <th>Start Time</th>
    <th>Duration</th>
    <th>Cast</th>
    <th>Color</th>
    <th>Dependent</th>
    <th>Type</th>
    <th colspan = '3'>Actions</th>
  </tr>
<% for blocklist in @blocklists %>
  <tr class = "<%= cycle('row-1','row-2') %>">
    <td><%= blocklist.id %></td>
    <td><%= blocklist.piece_id %></td>
    <td><%=h blocklist.title %></td>
    <td><%=h blocklist.left %></td>
    <%- duration = duration_to_hash(blocklist.duration) -%>
    <td><%= duration_hash_to_string(duration) %></td>
    <td><%= blocklist.cast.sort.join(' ') %></td>
    <td style = 'background:#<%= blocklist.div_class %>'></td>
    <td><%= blocklist.dependent %></td>
    <td><%= blocklist.event_type %></td>
    <td><%= link_to 'Show', :action => 'show', :id => blocklist %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => blocklist, :came_from => url_for(params)%></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => blocklist }, :confirm => 'Are you sure?', :method => :post %></td>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'New Item', :action => 'new' %><br /><br />
<%= link_to 'Back to Assemblage', :controller => 'assemblages', :action => 'present',:id => session[:assemblage_id] %>