<h1>New Block in <%=h @assemblage.piece.title %></h1>

<% form_tag({:action => 'create'}, :class => 'ajax') do %>
  <%= render :partial => 'form' %>
  <%= hidden_field_tag :piece_id, @assemblage.piece_id %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back',{:action => 'list'},:class => 'cancel' %>