<% for column in Blocklist.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @blocklist.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @blocklist, :from => url_for(params) %> |
<%= link_to 'Back', :action => 'list' %>
