  <%- form_tag({:action => 'edit_note',:id => @note.id}, :class => 'ajax') do -%>  
  <h2>Edit Note</h2>
  <%= text_area 'notes', 'note', :size => "40x10",:value => @note.note %></p>
  

  <br />
  <%= submit_tag "Save" %>   <%= link_to("Cancel",{:action => 'present', :id => params[:id] },:class => 'cancel') -%>
  <%- end -%>
  <br />
