<%- if @event -%>
$("#sort_<%= @event.id -%>").replaceWith("<%= escape_javascript(render(:partial => 'one_event', :locals => {:event => @event})) -%>");
$("#sort_<%= params[:id] -%>").remove();
<%- else -%>
alert("I can't convert this Scene into a Sub Scene");
<%- end -%>
