$("#sort_<%= @event.id -%>").replaceWith("<%= escape_javascript(render(:partial => 'one_event', :locals => {:event => @event})) -%>");
<%- @old_event = @event -%>
<%- @event = @new_event -%>
$('#sort_<%= @old_event.id -%>').after("<%= escape_javascript(render(:partial => 'one_event', :locals => {:event => @event})) -%>")
$(".hdble").show();
$("#form_div").hide();
