<h2>Search by Location</h2>
<%- if current_configuration.locations.length > 0 -%>
<%- form_tag :action => 'present', :id => session[:piecid], :filter_type => 'location' do %>
<%- locations = ['none'] -%>
<%- locations += current_configuration.locations.map{|x| x.location} -%>
<%- locations_options = options_for_select(locations) -%>
<%= select_tag('location',locations_options) -%>
<%= hidden_field_tag(:location_search, 'true') %><br />
<%= submit_tag 'Search' %>
<%- end %>
<%- else -%>
This piece has no locations yet.
<%- end -%>
<%= link_to 'Cancel',{:action => 'present', :id => current_piece.id}, :class => 'cancel'%>
