<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Assemblages: <%= @assemblage.title %></title>

  <%= stylesheet_link_merged 'assemblage_package'%>  
  <%= stylesheet_link_tag('assemblage_print', :media => :print) %>
	<%= javascript_include_merged 'assemblage_package' %>
		<style type="text/css" media="screen">
  <%= style_ass %>
  	</style>
</head>
<body>

  <div id = 'piecemaker_header'>
  <%= render :partial => '_shared/header' %>
  <%= yield :present_header %>

  <div id = "info_strip" style = "z-index:300">
   <b> <%= @assemblage.piece.title %> </b>&nbsp;&nbsp;<%= @assemblage.title %> &nbsp;&nbsp;<span id = 'flash-span'style="color: green"><%= flash[:notice] %></span>
  </div>
  </div>
<div id = 'container' style = 'width:800px'>  
<%= yield  %>
</div>
<div style='display:none' id="form_div" class = 'form_div'></div>
</body>
</html>
